.original .actinium .layer0 {
    background-color: #C3D1FF;
}

.original .aluminium .layer0 {
    background-color: #80C8F0;
}

.original .americium .layer0 {
    background-color: #287869;
}

.original .antimony .layer0 {
    background-color: #DCDCF0;
}

.original .argon .layer0 {
    background-color: #00FF00;
}

.original .arsenic .layer0 {
    background-color: #676756;
}

.original .astatine .layer0 {
    background-color: #241A24;
}

.original .barium .layer0 {
    background-color: #83824C;
}

.original .berkelium .layer0 {
    background-color: #645A88;
}

.original .beryllium .layer0 {
    background-color: #64B464;
}
.original .bismuth .layer0 {
    background-color: #64A0A0;
}

.original .bohrium .layer0 {
    background-color: #DC57FF;
}

.original .boron .layer0 {
    background-color: #D2FAD2;
}

.original .bromine .layer0 {
    background-color: #500A0A;
}

.original .caesium .layer0 {
    background-color: #80620B;
}

.original .calcium .layer0 {
    background-color: #FFF5DE;
}

.original .californium .layer0 {
    background-color: #A85A12;
}

.original .carbon .layer0 {
    background-color: #141414;
}

.original .cadmium .layer0 {
    background-color: #32323C;
}

.original .cerium .layer0 {
    background-color: #87917D;
}

.original .chlorine .layer0 {

}

.original .chromium .layer0 {
    background-color: #EAC4D8;
}

.original .cobalt .layer0 {
    background-color: #5050FA;
}

.original .copernicium .layer0 {
    background-color: #FFFEFF;
}

.original .copper .layer0 {
    background-color: #FF6400;
}

.original .curium .layer0 {
    background-color: #7B544E;
}

.original .darmstadtium .layer0 {
    background-color: #578062;
}

.original .deuterium .layer0 {

}

.original .dubnium .layer0 {
    background-color: #D3FDFF;
}

.original .dysprosium .layer0 {

}

.original .einsteinium .layer0 {
    background-color: #CE9F00;
}

.original .erbium .layer0 {

}

.original .europium .layer0 {
    background-color: #20FFFF;
}

.original .fermium .layer0 {
    background-color: #984ACF;
}

.original .flerovium .layer0 {

}

.original .fluorine .layer0 {

}

.original .francium .layer0 {
    background-color: #AAAAAA;
}

.original .gadolinium .layer0 {
    background-color: #DDDDFF;
}

.original .gallium .layer0 {
    background-color: #DCDCFF;
}

.original .germanium .layer0 {
    background-color: #434343;
}

.original .gold .layer0 {
    background-color: #FFE650;
}

.original .hafnium .layer0 {
    background-color: #99999A;
}

.original .hassium .layer0 {
    background-color: #DDDDDD;
}

.original .holmium .layer0 {

}

.original .hydrogen .layer0 {
    background-color: #0000B5;
}

.original .helium .layer0 {

}

.original .helium_3 .layer0 {

}

.original .indium .layer0 {
    background-color: #400080;
}

.original .iodine .layer0 {
    background-color: #2C344F;
}

.original .iridium .layer0 {
    background-color: #A1E4E4;
}

.original .iron .layer0 {
    background-color: #C8C8C8;
}

.original .krypton .layer0 {
    background-color: #80FF80;
}

.original .lanthanum .layer0 {
    background-color: #5D7575;
}

.original .lawrencium .layer0 {

}

.original .lead .layer0 {
    background-color: #8C648C;
}

.original .lithium .layer0 {
    background-color: #BDC7DB;
}

.original .livermorium .layer0 {
    background-color: #AAAAAA;
}

.original .lutetium .layer0 {
    background-color: #00AAFF;
}

.original .magnesium .layer0 {
    background-color: #FFC8C8;
}

.original .mendelevium .layer0 {
    background-color: #1D4ACF;
}

.original .manganese .layer0 {
    background-color: #CDE1B9;
}

.original .meitnerium .layer0 {
    background-color: #2246BE;
}

.original .mercury .layer0 {
    background-color: #E6DCDC;
}

.original .molybdenum .layer0 {
    background-color: #B4B4DC;
}

.original .moscovium .layer0 {
    background-color: #7854AD;
}

.original .neodymium .layer0 {
    background-color: #646464;
}

.original .neon .layer0 {
    background-color: #FAB4B4;
}

.original .neptunium .layer0 {
    background-color: #284D7B;
}

.original .nickel .layer0 {
    background-color: #C8C8FA;
}

.original .nihonium .layer0 {
    background-color: #08269E;
}

.original .niobium .layer0 {
    background-color: #BEB4C8;
}

.original .nitrogen .layer0 {
    background-color: #00BFC1;
}

.original .nobelium .layer0 {

}

.original .osmium .layer0 {
    background-color: #3232FF;
}

.original .oxygen .layer0 {
    background-color: #4CC3FF;
}

.original .palladium .layer0 {
    background-color: #808080;
}

.original .phosphorus .layer0 {
    background-color: #FFFF00;
}

.original .polonium .layer0 {
    background-color: #C9D47E;
}

.original .platinum .layer0 {
    background-color: #FFFFC8;
}

.original .plutonium239 .layer0 {
    background-color: #F03232;
}

.original .plutonium241 .layer0 {
    background-color: #FA4646;
}

.original .potassium .layer0 {
    background-color: #BEDCFF;
}

.original .praseodymium .layer0 {
    background-color: #CECECE;
}

.original .promethium .layer0 {

}

.original .protactinium .layer0 {
    background-color: #A78B6D;
}

.original .radon .layer0 {
    background-color: #FF39FF;
}

.original .radium .layer0 {
    background-color: #FFFFCD;
}

.original .rhenium .layer0 {
    background-color: #B6BAC3;
}

.original .rhodium .layer0 {
    background-color: #DC0C58;
}

.original .roentgenium .layer0 {
    background-color: #E3FDEC;
}

.original .rubidium .layer0 {
    background-color: #F01E1E;
}

.original .ruthenium .layer0 {
    background-color: #50ACCD;
}

.original .rutherfordium .layer0 {
    background-color: #FFF6A1;
}

.original .samarium .layer0 {
    background-color: #FFFFCC;
}

.original .scandium .layer0 {

}

.original .seaborgium .layer0 {
    background-color: #19C5FF;
}

.original .selenium .layer0 {
    background-color: #3C3C50;
}

.original .silver .layer0 {
    background-color: #DCDCFF;
}

.original .sodium .layer0 {
    background-color: #000096;
}

.original .strontium .layer0 {
    background-color: #C8C8C8;
}

.original .sulfur .layer0 {
    background-color: #C8C800;
}

.original .tantalum .layer0 {
    background-color: #78788c;
}

.original .technetium .layer0 {
    background-color: #545455;
}

.original .tellurium .layer0 {

}

.original .tennessine .layer0 {
    background-color: #977FD6;
}

.original .terbium .layer0 {

}

.original .thorium .layer0 {
    background-color: #001E00;
}

.original .thallium .layer0 {
    background-color: #C1C1DE;
}

.original .thulium .layer0 {

}

.original .tin .layer0 {
    background-color: #DCDCDC;
}

.original .titanium .layer0 {
    background-color: #DCA0F0;
}

.original .tritium .layer0 {

}

.original .tungsten .layer0 {
    background-color: #323232;
}

.original .uranium238 .layer0 {
    background-color: #32F032;
}

.original .uranium235 .layer0 {
    background-color: #46FA46;
}

.original .vanadium .layer0 {
    background-color: #323232;
}

.original .xenon .layer0 {
    background-color: #00FFFF;
}

.original .ytterbium .layer0 {
    background-color: #A7A7A7;
}

.original .yttrium .layer0 {
    background-color: #76524C;
}

.original .zinc .layer0 {
    background-color: #EBEBFA;
}

.original .zirconium .layer0 {
    background-color: #C8FFFF;
}

.original .naquadah .layer0 {
    background-color: #323232;
}

.original .enriched_naquadah .layer0 {
    background-color: #3C3C3C;
}

.original .naquadria .layer0 {
    background-color: #1E1E1E;
}

.original .neutronium .layer0 {
    background-color: #FAFAFA;
}

.original .tritanium .layer0 {
    background-color: #600000;
}

.original .duranium .layer0 {
    background-color: #4BAFAF;
}

.original .trinium .layer0 {
    background-color: #9973BD;
}