.original .almandine .layer0 {
    background-color: #FF0000;
}

.original .andradite .layer0 {
    background-color: #967800;
}

.original .annealed_copper .layer0 {
    background-color: #FF8D3B;
}

.original .asbestos .layer0 {
    background-color: #E6E6E6;
}

.original .ash .layer0 {
    background-color: #969696;
}

.original .hematite .layer0 {
    background-color: #915A5A;
}

.original .battery_alloy .layer0 {
    background-color: #9C7CA0;
}

.original .blue_topaz .layer0 {
    background-color: #7B96DC;
}

.original .bone .layer0 {
    background-color: #FAFAFA;
}

.original .brass .layer0 {
    background-color: #FFB400;
}

.original .bronze .layer0 {
    background-color: #FF8000;
}

.original .goethite .layer0 {
    background-color: #C86400;
}

.original .calcite .layer0 {
    background-color: #FAE6DC;
}

.original .cassiterite .layer0 {
    background-color: #DCDCDC;
}

.original .cassiterite_sand .layer0 {
    background-color: #DCDCDC;
}

.original .chalcopyrite .layer0 {
    background-color: #A07828;
}

.original .charcoal .layer0 {
    background-color: #644646;
}

.original .chromite .layer0 {
    background-color: #23140F;
}

.original .cinnabar .layer0 {
    background-color: #960000;
}

.original .water .layer0 {
    background-color: #0000FF;
}

.original .liquid_oxygen .layer0 {
    background-color: #6688DD;
}

.original .coal .layer0 {
    background-color: #464646;
}

.original .cobaltite .layer0 {
    background-color: #5050FA;
}

.original .cooperite .layer0 {
    background-color: #FFFFC8;
}

.original .cupronickel .layer0 {
    background-color: #E39680;
}

.original .dark_ash .layer0 {
    background-color: #323232;
}

.original .diamond .layer0 {
    background-color: #C8FFFF;
}

.original .electrum .layer0 {
    background-color: #FFFF64;
}

.original .emerald .layer0 {
    background-color: #50FF50;
}

.original .galena .layer0 {
    background-color: #643C64;
}

.original .garnierite .layer0 {
    background-color: #32C846;
}

.original .green_sapphire .layer0 {
    background-color: #64C882;
}

.original .grossular .layer0 {
    background-color: #C86400;
}

.original .ice .layer0 {
    background-color: #C8C8FF;
}

.original .ilmenite .layer0 {
    background-color: #463732;
}

.original .rutile .layer0 {
    background-color: #D40D5C;
}

.original .bauxite .layer0 {
    background-color: #C86400;
}

.original .invar .layer0 {
    background-color: #B4B478;
}

.original .kanthal .layer0 {
    background-color: #C2D2DF;
}

.original .lazurite .layer0 {
    background-color: #C8BEFF;
}

.original .magnesite .layer0 {
    background-color: #FAFAB4;
}

.original .magnetite .layer0 {
    background-color: #1E1E1E;
}

.original .molybdenite .layer0 {
    background-color: #191919;
}

.original .nichrome .layer0 {
    background-color: #CDCEF6;
}

.original .niobium_nitride .layer0 {
    background-color: #1D291D;
}

.original .niobium_titanium .layer0 {
    background-color: #1D1D29;
}

.original .obsidian .layer0 {
    background-color: #503264;
}

.original .phosphate .layer0 {
    background-color: #FFFF00;
}

.original .platinum_raw .layer0 {
    background-color: #FFFFC8;
}

.original .sterling_silver .layer0 {
    background-color: #FADCE1;
}

.original .rose_gold .layer0 {
    background-color: #FFE61E;
}

.original .black_bronze .layer0 {
    background-color: #64327D;
}

.original .bismuth_bronze .layer0 {
    background-color: #647D7D;
}

.original .biotite .layer0 {
    background-color: #141E14;
}

.original .powellite .layer0 {
    background-color: #FFFF00;
}

.original .pyrite .layer0 {
    background-color: #967828;
}

.original .pyrolusite .layer0 {
    background-color: #9696AA;
}

.original .pyrope .layer0 {
    background-color: #783264;
}

.original .rock_salt .layer0 {
    background-color: #F0C8C8;
}

.original .ruridit .layer0 {
}

.original .ruby .layer0 {
    background-color: #FF6464;
}

.original .salt .layer0 {
    background-color: #FAFAFA;
}

.original .saltpeter .layer0 {
    background-color: #E6E6E6;
}

.original .sapphire .layer0 {
    background-color: #6464C8;
}

.original .scheelite .layer0 {
    background-color: #C88C14;
}

.original .sodalite .layer0 {
    background-color: #1414FF;
}

.original .aluminium_sulfite .layer0 {
    background-color: #CC4BBB;
}

.original .tantalite .layer0 {
    background-color: #915028;
}

.original .coke .layer0 {
    background-color: #666666;
}

.original .soldering_alloy .layer0 {
    background-color: #9696A0;
}

.original .spessartine .layer0 {
    background-color: #FF6464;
}

.original .sphalerite .layer0 {
    background-color: #FFFFFF;
}

.original .stainless_steel .layer0 {
    background-color: #C8C8DC;
}

.original .steel .layer0 {
    background-color: #808080;
}

.original .stibnite .layer0 {
    background-color: #464646;
}

.original .tetrahedrite .layer0 {
    background-color: #C82000;
}

.original .tin_alloy .layer0 {
    background-color: #C8C8C8;
}

.original .topaz .layer0 {
    background-color: #FF8000;
}

.original .tungstate .layer0 {
    background-color: #373223;
}

.original .ultimet .layer0 {
    background-color: #B4B4E6;
}

.original .uraninite .layer0 {
    background-color: #232323;
}

.original .uvarovite .layer0 {
    background-color: #B4ffB4;
}

.original .vanadium_gallium .layer0 {
    background-color: #80808C;
}

.original .wrought_iron .layer0 {
    background-color: #C8B4B4;
}

.original .wulfenite .layer0 {
    background-color: #FF8000;
}

.original .yellow_limonite .layer0 {
    background-color: #C8C800;
}

.original .yttrium_barium_cuprate .layer0 {
    background-color: #504046;
}

.original .nether_quartz .layer0 {
    background-color: #E6D2D2;
}

.original .certus_quartz .layer0 {
    background-color: #D2D2E6;
}

.original .quartzite .layer0 {
    background-color: #D2E6D2;
}

.original .graphite .layer0 {
    background-color: #808080;
}

.original .graphene .layer0 {
    background-color: #808080;
}

.original .tungstic_acid .layer0 {
    background-color: #BCC800;
}

.original .osmiridium .layer0 {
    background-color: #6464FF;
}

.original .lithium_chloride .layer0 {
    background-color: #DEDEFA;
}

.original .calcium_chloride .layer0 {
    background-color: #EBEBFA;
}

.original .bornite .layer0 {
    background-color: #97662B;
}

.original .chalcocite .layer0 {
    background-color: #353535;
}

.original .gallium_arsenide .layer0 {
    background-color: #A0A0A0;
}

.original .potash .layer0 {
    background-color: #784137;
}

.original .soda_ash .layer0 {
    background-color: #DCDCFF;
}

.original .indium_gallium_phosphide .layer0 {
    background-color: #A08CBE;
}

.original .nickel_zinc_ferrite .layer0 {
    background-color: #3C3C3C;
}

.original .silicon_dioxide .layer0 {
    background-color: #C8C8C8;
}

.original .magnesium_chloride .layer0 {
    background-color: #D40D5C;
}

.original .sodium_sulfide .layer0 {
    background-color: #FFE680;
}

.original .phosphorus_pentoxide .layer0 {
    background-color: #DCDC00;
}

.original .sodium_bisulfate .layer0 {
    background-color: #004455;
}

.original .ferrite_mixture .layer0 {
    background-color: #B4B4B4;
}

.original .magnesia .layer0 {
    background-color: #887878;
}

.original .platinum_group_sludge .layer0 {
    background-color: #001E00;
}

.original .sodium_bicarbonate .layer0 {
    background-color: #565b96;
}

.original .potassium_dichromate .layer0 {
    background-color: #FF084E;
}

.original .chromium_trioxide .layer0 {
    background-color: #FFE4E1;
}

.original .antimony_trioxide .layer0 {
    background-color: #E6E6F0;
}

.original .zincite .layer0 {
    background-color: #FFFFF5;
}

.original .cupric_oxide .layer0 {
    background-color: #0F0F0F;
}

.original .cobalt_oxide .layer0 {
    background-color: #788000;
}

.original .arsenic_trioxide .layer0 {
}

.original .massicot .layer0 {
    background-color: #FFDD55;
}

.original .ferrosilite .layer0 {
    background-color: #97632A;
}

.original .metal_mixture .layer0 {
    background-color: #502d16;
}

.original .sodium_hydroxide .layer0 {
    background-color: #003380;
}

.original .sodium_persulfate .layer0 {
}

.original .bastnasite .layer0 {
    background-color: #C86E2D;
}

.original .pentlandite .layer0 {
    background-color: #A59605;
}

.original .spodumene .layer0 {
    background-color: #BEAAAA;
}

.original .lepidolite .layer0 {
    background-color: #F0328C;
}

.original .glauconite_sand .layer0 {
    background-color: #82B43C;
}

.original .malachite .layer0 {
    background-color: #055F05;
}

.original .mica .layer0 {
    background-color: #C3C3CD;
}

.original .barite .layer0 {
    background-color: #E6EBEB;
}

.original .alunite .layer0 {
    background-color: #E1B441;
}

.original .talc .layer0 {
    background-color: #5AB45A;
}

.original .soapstone .layer0 {
    background-color: #5F915F;
}

.original .kyanite .layer0 {
    background-color: #6E6EFA;
}

.original .magnetic_iron .layer0 {
    background-color: #C8C8C8;
}

.original .tungsten_carbide .layer0 {
    background-color: #330066;
}

.original .carbon_dioxide .layer0 {
    background-color: #A9D0F5;
}

.original .titanium_tetrachloride .layer0 {
    background-color: #D40D5C;
}

.original .nitrogen_dioxide .layer0 {
    background-color: #85FCFF;
}

.original .hydrogen_sulfide .layer0 {
}

.original .nitric_acid .layer0 {
    background-color: #CCCC00;
}

.original .sulfuric_acid .layer0 {
}

.original .phosphoric_acid .layer0 {
    background-color: #DCDC01;
}

.original .sulfur_trioxide .layer0 {
    background-color: #A0A014;
}

.original .sulfur_dioxide .layer0 {
    background-color: #0E4880;
}

.original .hypochlorous_acid .layer0 {
    background-color: #6F8A91;
}

.original .ammonia .layer0 {
    background-color: #3F3480;
}

.original .hydrofluoric_acid .layer0 {
    background-color: #0088AA;
}

.original .nitric_oxide .layer0 {
    background-color: #7DC8F0;
}

.original .iron_iii_chloride .layer0 {
    background-color: #060B0B;
}

.original .uranium_hexafluoride .layer0 {
    background-color: #42D126;
}

.original .enriched_uranium_hexafluoride .layer0 {
    background-color: #4BF52A;
}

.original .depleted_uranium_hexafluoride .layer0 {
    background-color: #74BA66;
}

.original .nitrous_oxide .layer0 {
    background-color: #7DC8FF;
}

.original .ender_pearl .layer0 {
    background-color: #6CDCC8;
}

.original .potassium_feldspar .layer0 {
    background-color: #782828;
}

.original .magnetic_neodymium .layer0 {
    background-color: #646464;
}

.original .hydrochloric_acid .layer0 {
}

.original .steam .layer0 {
}

.original .distilled_water .layer0 {
    background-color: #4A94FF;
}

.original .sodium_potassium .layer0 {
    background-color: #64FCB4;
}

.original .magnetic_samarium .layer0 {
    background-color: #FFFFCD;
}

.original .manganese_phosphide .layer0 {
    background-color: #E1B454;
}

.original .magnesium_diboride .layer0 {
    background-color: #331900;
}

.original .mercury_barium_calcium_cuprate .layer0 {
    background-color: #555555;
}

.original .uranium_triplatinum .layer0 {
    background-color: #008700;
}

.original .samarium_iron_arsenic_oxide .layer0 {
    background-color: #330033;
}

.original .indium_tin_barium_titanium_cuprate .layer0 {
    background-color: #994C00;
}

.original .uranium_rhodium_dinaquadide .layer0 {
    background-color: #0A0A0A;
}

.original .enriched_naquadah_trinium_europium_duranide .layer0 {
    background-color: #FFFFFF;
}

.original .inert_metal_mixture .layer0 {
    background-color: #E2AE72;
}

.original .rhodium_sulfate .layer0 {
    background-color: #EEAA55;
}

.original .ruthenium_tetroxide .layer0 {
    background-color: #C7C7C7;
}

.original .osmium_tetroxide .layer0 {
    background-color: #ACAD71;
}

.original .iridium_chloride .layer0 {
    background-color: #013220;
}

.original .fluoroantimonic_acid .layer0 {
}

.original .titanium_trifluoride .layer0 {
    background-color: #8F00FF;
}

.original .calcium_phosphide .layer0 {
    background-color: #A52A2A;
}

.original .indium_phosphide .layer0 {
    background-color: #582E5C;
}

.original .barium_sulfide .layer0 {
    background-color: #F0EAD6;
}

.original .trinium_sulfide .layer0 {
    background-color: #E68066;
}

.original .zinc_sulfide .layer0 {
    background-color: #FFFFF6;
}

.original .gallium_sulfide .layer0 {
    background-color: #FFF59E;
}

.original .antimony_trifluoride .layer0 {
    background-color: #F7EABC;
}

.original .enriched_naquadah_sulfate .layer0 {
    background-color: #2E2E1C;
}

.original .naquadria_sulfate .layer0 {
    background-color: #006633;
}

.original .pyrochlore .layer0 {
    background-color: #2B1100;
}

.original .liquid_helium .layer0 {
    background-color: #FCFF90;
}