.original .electrotine .layer0 {
    background-color: #3CB4C8;
}

.original .ender_eye .layer0 {
    background-color: #66FF66;
}

.original .diatomite .layer0 {
    background-color: #E1E1E1;
}

.original .red_steel .layer0 {
    background-color: #8C6464;
}

.original .blue_steel .layer0 {
    background-color: #64648C;
}

.original .basalt .layer0 {
    background-color: #3C3232;
}

.original .granitic_mineral_sand .layer0 {
    background-color: #283C3C;
}

.original .redrock .layer0 {
    background-color: #FF5032;
}

.original .garnet_sand .layer0 {
    background-color: #C86400;
}

.original .hssg .layer0 {
    background-color: #999900;
}

.original .red_alloy .layer0 {
    background-color: #C80000;
}

.original .basaltic_mineral_sand .layer0 {
    background-color: #283228;
}

.original .hsse .layer0 {
    background-color: #336600;
}

.original .hsss .layer0 {
    background-color: #660033;
}

.original .iridium_metal_residue .layer0 {
    background-color: #5C5D68;
}

.original .granite .layer0 {
    background-color: #CFA18C;
}

.original .brick .layer0 {
    background-color: #9B5643;
}

.original .fireclay .layer0 {
    background-color: #ADA09B;
}

.original .diorite .layer0 {
}

.original .blue_alloy .layer0 {
    background-color: #64B4FF;
}