.original .silicone_rubber .layer0 {
    background-color: #DCDCDC;
}

.original .nitrobenzene .layer0 {
    background-color: #704936;
}

.original .raw_rubber .layer0 {
    background-color: #54403D;
}

.original .styrene_butadiene_rubber .layer0 {
    background-color: #211A18;
}

.original .polyvinyl_acetate .layer0 {
    background-color: #FF9955;
}

.original .reinforced_epoxy_resin .layer0 {
    background-color: #A07A10;
}

.original .polyvinyl_chloride .layer0 {
    background-color: #D7E6E6;
}

.original .polyphenylene_sulfide .layer0 {
    background-color: #AA8800;
}

.original .polybenzimidazole .layer0 {
    background-color: #2D2D2D;
}

.original .polydimethylsiloxane .layer0 {
    background-color: #F5F5F5;
}

.original .polyethylene .layer0 {
    background-color: #C8C8C8;
}

.original .epoxy .layer0 {
    background-color: #C88C14;
}

.original .polycaprolactam .layer0 {
    background-color: #323232;
}

.original .polytetrafluoroethylene .layer0 {
    background-color: #646464;
}

.original .sugar .layer0 {
    background-color: #FAFAFA;
}

.original .methane .layer0 {
    background-color: #FF0078;
}

.original .epichlorohydrin .layer0 {
    background-color: #712400;
}

.original .monochloramine .layer0 {
    background-color: #3F9F80;
}

.original .chloroform .layer0 {
    background-color: #892CA0;
}

.original .cumene .layer0 {
    background-color: #552200;
}

.original .tetrafluoroethylene .layer0 {
    background-color: #7D7D7D;
}

.original .chloromethane .layer0 {
    background-color: #C82CA0;
}

.original .allyl_chloride .layer0 {
    background-color: #87DEAA;
}

.original .isoprene .layer0 {
    background-color: #141414;
}

.original .propane .layer0 {
    background-color: #FAE250;
}

.original .propene .layer0 {
    background-color: #FFDD55;
}

.original .ethane .layer0 {
    background-color: #C8C8FF;
}

.original .butene .layer0 {
    background-color: #CF5005;
}

.original .butane .layer0 {
    background-color: #B6371E;
}

.original .dissolved_calcium_acetate .layer0 {
    background-color: #DCC8B4;
}

.original .vinyl_acetate .layer0 {
    background-color: #E1B380;
}

.original .methyl_acetate .layer0 {
    background-color: #EEC6AF;
}

.original .ethenone .layer0 {
    background-color: #141446;
}

.original .tetranitromethane .layer0 {
    background-color: #0F2828;
}

.original .dimethylamine .layer0 {
    background-color: #554469;
}

.original .dimethylhydrazine .layer0 {
    background-color: #000055;
}

.original .dinitrogen_tetroxide .layer0 {
    background-color: #004184;
}

.original .dimethyldichlorosilane .layer0 {
    background-color: #441650;
}

.original .styrene .layer0 {
    background-color: #D2C8BE;
}

.original .butadiene .layer0 {
    background-color: #B55A10;
}

.original .dichlorobenzene .layer0 {
    background-color: #004455;
}

.original .acetic_acid .layer0 {
    background-color: #C8B4A0;
}

.original .phenol .layer0 {
    background-color: #784421;
}

.original .bisphenol_a .layer0 {
    background-color: #D4AA00;
}

.original .vinyl_chloride .layer0 {
    background-color: #E1F0F0;
}

.original .ethylene .layer0 {
    background-color: #E1E1E1;
}

.original .benzene .layer0 {
    background-color: #1A1A1A;
}

.original .acetone .layer0 {
    background-color: #AFAFAF;
}

.original .glycerol .layer0 {
    background-color: #87DE87;
}

.original .methanol .layer0 {
    background-color: #AA8800;
}

.original .ethanol .layer0 {
}

.original .toluene .layer0 {
}

.original .diphenyl_isophthalate .layer0 {
    background-color: #246E57;
}

.original .phthalic_acid .layer0 {
    background-color: #D1D1D1;
}

.original .dimethylbenzene .layer0 {
    background-color: #669C40;
}

.original .diaminobenzidine .layer0 {
    background-color: #337D59;
}

.original .dichlorobenzidine .layer0 {
    background-color: #A1DEA6;
}

.original .nitrochlorobenzene .layer0 {
    background-color: #8FB51A;
}

.original .chlorobenzene .layer0 {
    background-color: #326A3E;
}

.original .octane .layer0 {
    background-color: #8A0A09;
}

.original .ethyl_tertbutyl_ether .layer0 {
    background-color: #B15C06;
}

.original .ethylbenzene .layer0 {
}

.original .naphthalene .layer0 {
    background-color: #F4F4D7;
}

.original .rubber .layer0 {
    background-color: #000000;
}

.original .cyclohexane .layer0 {
    background-color: #F2F2F2E7;
}

.original .nitrosyl_chloride .layer0 {
    background-color: #F3F100;
}

.original .cyclohexanone_oxime .layer0 {
    background-color: #EBEBF0;
}

.original .caprolactam .layer0 {
    background-color: #676768;
}

.original .butyraldehyde .layer0 {
    background-color: #554A3F;
}

.original .polyvinyl_butyral .layer0 {
    background-color: #347D41;
}