.original .glass .layer0 {
    background-color: #FAFAFA;
}

.original .perlite .layer0 {
    background-color: #1E141E;
}

.original .borax .layer0 {
    background-color: #FAFAFA;
}

.original .salt_water .layer0 {
    background-color: #0000C8;
}

.original .olivine .layer0 {
    background-color: #96FF96;
}

.original .opal .layer0 {
    background-color: #0000FF;
}

.original .amethyst .layer0 {
    background-color: #8464BC;
}

.original .lapis .layer0 {
    background-color: #4646DC;
}

.original .blaze .layer0 {
    background-color: #FFC800;
}

.original .apatite .layer0 {
    background-color: #C8C8FF;
}

.original .black_steel .layer0 {
    background-color: #646464;
}

.original .damascus_steel .layer0 {
    background-color: #6E6E6E;
}

.original .tungsten_steel .layer0 {
    background-color: #6464A0;
}

.original .cobalt_brass .layer0 {
    background-color: #B4B4A0;
}

.original .tricalcium_phosphate .layer0 {
    background-color: #FFFF00;
}

.original .red_garnet .layer0 {
    background-color: #C85050;
}

.original .yellow_garnet .layer0 {
    background-color: #C8C850;
}

.original .marble .layer0 {
    background-color: #C8C8C8;
}

.original .deepslate .layer0 {
    background-color: #0A0A0A;
}

.original .granite_red .layer0 {
    background-color: #FF0080;
}

.original .vanadium_magnetite .layer0 {
    background-color: #23233C;
}

.original .quartz_sand .layer0 {
    background-color: #C8C8C8;
}

.original .pollucite .layer0 {
    background-color: #F0D2D2;
}

.original .bentonite .layer0 {
    background-color: #F5D7D2;
}

.original .fullers_earth .layer0 {
    background-color: #A0A078;
}

.original .pitchblende .layer0 {
    background-color: #C8D200;
}

.original .monazite .layer0 {
    background-color: #324632;
}

.original .mirabilite .layer0 {
    background-color: #F0FAD2;
}

.original .trona .layer0 {
    background-color: #87875F;
}

.original .gypsum .layer0 {
    background-color: #E6E6FA;
}

.original .zeolite .layer0 {
    background-color: #F0E6E6;
}

.original .concrete .layer0 {
    background-color: #646464;
}

.original .magnetic_steel .layer0 {
    background-color: #808080;
}

.original .vanadium_steel .layer0 {
    background-color: #c0c0c0;
}

.original .potin .layer0 {
    background-color: #c99781;
}

.original .borosilicate_glass .layer0 {
    background-color: #E6F3E6;
}

.original .andesite .layer0 {
    background-color: #BEBEBE;
}

.original .naquadah_alloy .layer0 {
    background-color: #282828;
}

.original .sulfuric_nickel_solution .layer0 {
    background-color: #3EB640;
}

.original .sulfuric_copper_solution .layer0 {
    background-color: #48A5C0;
}

.original .lead_zinc_solution .layer0 {
}

.original .nitration_mixture .layer0 {
    background-color: #E6E2AB;
}

.original .diluted_sulfuric_acid .layer0 {
    background-color: #C07820;
}

.original .diluted_hydrochloric_acid .layer0 {
    background-color: #99A7A3;
}

.original .flint .layer0 {
    background-color: #002040;
}

.original .air .layer0 {
    background-color: #A9D0F5;
}

.original .liquid_air .layer0 {
    background-color: #A9D0F5;
}

.original .nether_air .layer0 {
    background-color: #4C3434;
}

.original .liquid_nether_air .layer0 {
    background-color: #4C3434;
}

.original .ender_air .layer0 {
    background-color: #283454;
}

.original .liquid_ender_air .layer0 {
    background-color: #283454;
}

.original .aqua_regia .layer0 {
    background-color: #FFB132;
}

.original .platinum_sludge_residue .layer0 {
    background-color: #827951;
}

.original .palladium_raw .layer0 {
}

.original .rarest_metal_mixture .layer0 {
    background-color: #832E11;
}

.original .ammonium_chloride .layer0 {
    background-color: #9711A6;
}

.original .acidic_osmium_solution .layer0 {
    background-color: #DAC5C5;
}

.original .rhodium_plated_palladium .layer0 {
    background-color: #000000;
}

.original .clay .layer0 {
    background-color: #C8C8DC;
}

.original .redstone .layer0 {
    background-color: #C80000;
}