.revised .actinium .layer0 {
    background-color: #C3D1FF;
}

.revised .actinium .layer1 {
    background-color: #353d41;
}

.revised .aluminium .layer0 {
    background-color: #b6e5ff;
}
.revised .aluminium .layer1 {
    background-color: #7ca29b;
}

.revised .americium .layer0 {
    background-color: #287869;
}

.revised .antimony .layer0 {
    background-color: #eaeaff;
}
.revised .antimony .layer1 {
    background-color: #a2a2bc;
}

.revised .argon .layer0 {
    background-color: #00FF00;
}

.revised .arsenic .layer0 {
    background-color: #9c9c8d;
}
.revised .arsenic .layer1 {
    background-color: #676756;
}

.revised .astatine .layer0 {
    background-color: #ffd52e;
}
.revised .astatine .layer1 {
    background-color: #17212b;
}

.revised .barium .layer0 {
    background-color: #ede192;
}

.revised .barium .layer1 {
    background-color: #5d9b8d;
}

.revised .berkelium .layer0 {
    background-color: #645A88;
}

.revised .beryllium .layer0 {
    background-color: #98d677;
}

.revised .beryllium .layer1 {
    background-color: #254d40;
}

.revised .bismuth .layer0 {
    background-color: #89dbdb;
}

.revised .bismuth .layer1 {
    background-color: #845c6a;
}

.revised .bohrium .layer0 {
    background-color: #4c3e50;
}
.revised .bohrium .layer1 {
    background-color: #DC57FF;
}

.revised .boron .layer0 {
    background-color: #d7f7d7;
}

.revised .boron .layer1 {
    background-color: #5f6152;
}

.revised .bromine .layer0 {
    background-color: #912200;
}
.revised .bromine .layer1 {
    background-color: #080101;
}

.revised .caesium .layer0 {
    background-color: #e9e5d2;
}
.revised .caesium .layer1 {
    background-color: #aa9864;
}

.revised .calcium .layer0 {
    background-color: #FFF5DE;
}
.revised .calcium .layer1 {
    background-color: #a4a4a4;
}

.revised .californium .layer0 {
    background-color: #A85A12;
}

.revised .carbon .layer0 {
    background-color: #333030;
}

.revised .carbon .layer1 {
    background-color: #221c1c;
}


.revised .cadmium .layer0 {
    background-color: #636377;
}
.revised .cadmium .layer1 {
    background-color: #412738;
}

.revised .cerium .layer0 {
    background-color: #d3d7c3;
}
.revised .cerium .layer1 {
    background-color: #87917D;
}

.revised .chlorine .layer0 {

}

.revised .chromium .layer0 {
    background-color: #f3e0ea;
}
.revised .chromium .layer1 {
    background-color: #441f2e;
}

.revised .cobalt .layer0 {
    background-color: #f1e2d1;
}
.revised .cobalt .layer1 {
    background-color: #1d1dd6;
}

.revised .copernicium .layer0 {
    background-color: #FFFEFF;
}

.revised .copper .layer0 {
    background-color: #e77c56;
}
.revised .copper .layer1 {
    background-color: #e4673e;
}

.revised .curium .layer0 {
    background-color: #7B544E;
}

.revised .darmstadtium .layer0 {
    background-color: #578062;
}

.revised .deuterium .layer0 {

}

.revised .dubnium .layer0 {
    background-color: #c7ddde;
}
.revised .dubnium .layer1 {
    background-color: #00f3ff;
}

.revised .dysprosium .layer0 {
    background-color: #6a664b;
}
.revised .dysprosium .layer1 {
    background-color: #423307;
}

.revised .einsteinium .layer0 {
    background-color: #CE9F00;
}

.revised .erbium .layer0 {
    background-color: #eccbdb;
}
.revised .erbium .layer1 {
    background-color: #5d625a;
}

.revised .europium .layer0 {
    background-color: #988b33;
}
.revised .europium .layer1 {
    background-color: #032a52;
}

.revised .fermium .layer0 {
    background-color: #c99fe7;
}
.revised .fermium .layer1 {
    background-color: #3e0022;
}

.revised .flerovium .layer0 {
    background-color: #393d43;
}
.revised .flerovium .layer1 {
    background-color: #d2ff00;
}

.revised .fluorine .layer0 {

}

.revised .francium .layer0 {
    background-color: #AAAAAA;
}
.revised .francium .layer1 {
    background-color: #0000ff;
}

.revised .gadolinium .layer0 {
    background-color: #828a7a;
}
.revised .gadolinium .layer1 {
    background-color: #363420;
}

.revised .gallium .layer0 {
    background-color: #dadbf3;
}
.revised .gallium .layer1 {
    background-color: #787955;
}

.revised .germanium .layer0 {
    background-color: #e1e1e1;
}
.revised .germanium .layer1 {
    background-color: #6a6248;
}

.revised .gold .layer0 {
    background-color: #fdf55f; /*#fff04e;*/
}
.revised .gold .layer1 {
    background-color: #f25833 /*#d54903*/
}

.revised .hafnium .layer0 {
    background-color: #99999A;
}
.revised .hafnium .layer1 {
    background-color: #2b4a3a;
}

.revised .hassium .layer0 {
    background-color: #78766f;
}
.revised .hassium .layer1 {
    background-color: #09ebaf;
}

.revised .holmium .layer0 {
    background-color: #5c706d;
}
.revised .holmium .layer1 {
    background-color: #1d2b2d;
}

.revised .hydrogen .layer0 {
    background-color: #0000B5;
}

.revised .helium .layer0 {

}

.revised .helium_3 .layer0 {

}

.revised .indium .layer0 {
    background-color: #d0c8d9;
}
.revised .indium .layer1 {
    background-color: #400080;
}

.revised .iodine .layer0 {
    background-color: #67686d;
}
.revised .iodine .layer1 {
    background-color: #773000;
}

.revised .iridium .layer0 {
    background-color: #fdfce9;
}
.revised .iridium .layer1 {
    background-color: #3d011b;
}

.revised .iron .layer0 {
    background-color: #eeeeee;
}
.revised .iron .layer1 {
    background-color: #979797;
}

.revised .krypton .layer0 {
    background-color: #80FF80;
}

.revised .lanthanum .layer0 {
    background-color: #e8e0c2;
}
.revised .lanthanum .layer1 {
    background-color: #5D7575;
}

.revised .lawrencium .layer0 {
    background-color: #5D7575;
}
.revised .lawrencium .layer1 {
    background-color: #5D7575;
}

.revised .lead .layer0 {
    background-color: #7e6f82;
}

.revised .lead .layer1 {
    background-color: #290633;
}

.revised .lithium .layer0 {
    background-color: #d7e7ee;
}

.revised .lithium .layer1 {
    background-color: #BDC7DB;
}

.revised .livermorium .layer0 {
    background-color: #939393;
}
.revised .livermorium .layer1 {
    background-color: #ff8b8b;
}

.revised .lutetium .layer0 {
    background-color: #e6faea;
}
.revised .lutetium .layer1 {
    background-color: #231809;
}

.revised .magnesium .layer0 {
    background-color: #ffd6d6;
}
.revised .magnesium .layer1 {
    background-color: #594d19;
}

.revised .mendelevium .layer0 {
    background-color: #1D4ACF;
}

.revised .manganese .layer0 {
    background-color: #CDE1B9;
}

.revised .meitnerium .layer0 {
    background-color: #454854;
}
.revised .meitnerium .layer1 {
    background-color: #6e90ff;
}

.revised .mercury .layer0 {
    background-color: #E6DCDC;
}
.revised .mercury .layer0 {
    background-color: #E6DCDC;
}

.revised .molybdenum .layer0 {
    background-color: #c1c1ce;
}
.revised .molybdenum .layer1 {
    background-color: #404068;
}

.revised .moscovium .layer0 {
    background-color: #2a1b40;
}
.revised .moscovium .layer1 {
    background-color: #bd91ff;
}

.revised .neodymium .layer0 {
    background-color: #9a8b94;
}
.revised .neodymium .layer1 {
    background-color: #2c2c2c;
}

.revised .neon .layer0 {
    background-color: #FAB4B4;
}

.revised .neptunium .layer0 {
    background-color: #284D7B;
}

.revised .nickel .layer0 {
    background-color: #ccdff5;
}
.revised .nickel .layer1 {
    background-color: #59563a;
}

.revised .nihonium .layer0 {
    background-color: #323957;
}
.revised .nihonium .layer1 {
    background-color: #a68bff;
}

.revised .niobium .layer0 {
    background-color: #e9eacb;
}
.revised .niobium .layer1 {
    background-color: #2f4c35;
}

.revised .nitrogen .layer0 {
    background-color: #00BFC1;
}

.revised .nobelium .layer0 {
    background-color: #3e4758;
}
.revised .nobelium .layer1 {
    background-color: #43deff;
}

.revised .osmium .layer0 {
    background-color: #f9f9f9;
}
.revised .osmium .layer1 {
    background-color: #307fc2;
}

.revised .oxygen .layer0 {
    background-color: #4CC3FF;
}

.revised .palladium .layer0 {
    background-color: #A0A0A0;
}
.revised .palladium .layer1 {
    background-color: #4b4a3a;
}

.revised .phosphorus .layer0 {
    background-color: #FFFF00;
}

.revised .polonium .layer0 {
    background-color: #C9D47E;
}

.revised .platinum .layer0 {
    background-color: #fff9da;
}
.revised .platinum .layer1 {
    background-color: #4e4e45;
}

.revised .plutonium239 .layer0 {
    background-color: #222730;
}
.revised .plutonium239 .layer1 {
    background-color: #ba2727;
}

.revised .plutonium241 .layer0 {
    background-color: #222730;
}
.revised .plutonium241 .layer1 {
    background-color: #fa7272;
}

.revised .potassium .layer0 {
    background-color: #d2e1f2;
}
.revised .potassium .layer1 {
    background-color: #6189b8;
}

.revised .praseodymium .layer0 {
    background-color: #CECECE;
}
.revised .praseodymium .layer1 {
    background-color: #424d33;
}

.revised .promethium .layer0 {

}

.revised .protactinium .layer0 {
    background-color: #A78B6D;
}

.revised .radon .layer0 {
    background-color: #FF39FF;
}

.revised .radium .layer0 {
    background-color: #838361;
}
.revised .radium .layer1 {
    background-color: #90ff2d;
}

.revised .rhenium .layer0 {
    background-color: #cbcfd7;
}
.revised .rhenium .layer1 {
    background-color: #37393d;
}

.revised .rhodium .layer0 {
    background-color: #f36bba;
}
.revised .rhodium .layer1 {
    background-color: #DC0C58;
}

.revised .roentgenium .layer0 {
    background-color: #3e4840;
}
.revised .roentgenium .layer1 {
    background-color: #E3FDEC;
}

.revised .rubidium .layer0 {
    background-color: #bdb0b0;
}
.revised .rubidium .layer1 {
    background-color: #451c1c;
}

.revised .ruthenium .layer0 {
    background-color: #c7ced1;
}
.revised .ruthenium .layer1 {
    background-color: #3c7285;
}

.revised .rutherfordium .layer0 {
    background-color: #6b6157;
}
.revised .rutherfordium .layer1 {
    background-color: #FFF6A1;
}

.revised .samarium .layer0 {
    background-color: #c5c5b3;
}
.revised .samarium .layer1 {
    background-color: #183e3f;
}

.revised .scandium .layer0 {
    background-color: #b1b2ac;
}
.revised .scandium .layer1 {
    background-color: #1c3433;
}

.revised .seaborgium .layer0 {
    background-color: #807c76;
}
.revised .seaborgium .layer1 {
    background-color: #19C5FF;
}

.revised .selenium .layer0 {
    background-color: #58587b;
}
.revised .selenium .layer1 {
    background-color: #401b24;
}

.revised .silicon .layer0 {
    background-color: #aaaab5;
}
.revised .silicon .layer1 {
    background-color: #10293b;
}

.revised .silver .layer0 {
    background-color: #DCDCFF;
}
.revised .silver .layer1 {
    background-color: #5a4705;
}

.revised .sodium .layer0 {
    background-color: #abb1ba;
}
.revised .sodium .layer1 {
    background-color: #2b30a3;
}

.revised .strontium .layer0 {
    background-color: #7a7953;
}
.revised .strontium .layer1 {
    background-color: #4c0b06;
}

.revised .sulfur .layer0 {
    background-color: #fdff31;
}
.revised .sulfur .layer1 {
    background-color: #ffb400;
}

.revised .tantalum .layer0 {
    background-color: #a8a7c6;
}
.revised .tantalum .layer1 {
    background-color: #1f2b20;
}

.revised .technetium .layer0 {
    background-color: #b1d0d8;
}
.revised .technetium .layer1 {
    background-color: #d7fce2;
}

.revised .tellurium .layer0 {

}

.revised .tennessine .layer0 {
    background-color: #768189;
}
.revised .tennessine .layer1 {
    background-color: #bca3ff;
}

.revised .terbium .layer0 {
    background-color: #cedab4;
}
.revised .terbium .layer1 {
    background-color: #263640;
}

.revised .thorium .layer0 {
    background-color: #323528;
}
.revised .thorium .layer1 {
    background-color: #051E05;
}

.revised .thallium .layer0 {
    background-color: #c1c9de;
}
.revised .thallium .layer1 {
    background-color: #1e576a;
}

.revised .thulium .layer0 {
    background-color: #afb0a4;
}
.revised .thulium .layer1 {
    background-color: #420b0b;
}

.revised .tin .layer0 {
    background-color: #fafeff;
}
.revised .tin .layer1 {
    background-color: #4e676c;
}

.revised .titanium .layer0 {
    background-color: #d8d5d9;
}
.revised .titanium .layer1 {
    background-color: #440050;
}

.revised .tritium .layer0 {
    background-color: #ff316b;
}
.revised .tritium .layer1 {
    background-color: #d00000;
}

.revised .tungsten .layer0 {
    background-color: #3b3a32;
}
.revised .tungsten .layer1 {
    background-color: #2a2800;
}

.revised .uranium238 .layer0 {
    background-color: #33342c;
}
.revised .uranium238 .layer1 {
    background-color: #1d891d;
}

.revised .uranium235 .layer0 {
    background-color: #33342c;
}
.revised .uranium235 .layer1 {
    background-color: #46FA46;
}

.revised .vanadium .layer0 {
    background-color: #696d76;
}
.revised .vanadium .layer1 {
    background-color: #240808;
}

.revised .xenon .layer0 {
    background-color: #00FFFF;
}

.revised .ytterbium .layer0 {
    background-color: #A7A7A7;
}

.revised .yttrium .layer0 {
    background-color: #7d8072;
}
.revised .yttrium .layer1 {
    background-color: #15161a;
}

.revised .zinc .layer0 {
    background-color: #EBEBFA;
}
.revised .zinc .layer1 {
    background-color: #232c30;
}

.revised .zirconium .layer0 {
    background-color: #fff0e2;
}
.revised .zirconium .layer1 {
    background-color: #271813;
}

.revised .naquadah .layer0 {
    background-color: #323232;
}
.revised .naquadah .layer1 {
    background-color: #1e251b;
}

.revised .enriched_naquadah .layer0 {
    background-color: #3C3C3C;
}
.revised .enriched_naquadah .layer1 {
    background-color: #122f06;
}

.revised .naquadria .layer0 {
    background-color: #1E1E1E;
}
.revised .naquadria .layer1 {
    background-color: #59b3ff;
}

.revised .neutronium .layer0 {
    background-color: #FAFAFA;
}

.revised .tritanium .layer0 {
    background-color: #c35769;
}
.revised .tritanium .layer1 {
    background-color: #210840;
}

.revised .duranium .layer0 {
    background-color: #f3e7a9;
}
.revised .duranium .layer1 {
    background-color: #9c9487;
}

.revised .trinium .layer0 {
    background-color: #81808a;
}
.revised .trinium .layer1 {
    background-color: #351d4b;
}