.revised .actinium .layer0 {
    background-color: #C3D1FF;
}

.revised .aluminium .layer0 {
    background-color: #80C8F0;
}
.revised .aluminium .layer1 {
    background-color: #FF0000;
}

.revised .americium .layer0 {
    background-color: #287869;
}

.revised .antimony .layer0 {
    background-color: #DCDCF0;
}

.revised .argon .layer0 {
    background-color: #00FF00;
}

.revised .arsenic .layer0 {
    background-color: #676756;
}

.revised .astatine .layer0 {
    background-color: #241A24;
}

.revised .barium .layer0 {
    background-color: #83824C;
}

.revised .berkelium .layer0 {
    background-color: #645A88;
}

.revised .beryllium .layer0 {
    background-color: #64B464;
}
.revised .bismuth .layer0 {
    background-color: #64A0A0;
}

.revised .bohrium .layer0 {
    background-color: #DC57FF;
}

.revised .boron .layer0 {
    background-color: #D2FAD2;
}

.revised .bromine .layer0 {
    background-color: #500A0A;
}

.revised .caesium .layer0 {
    background-color: #80620B;
}

.revised .calcium .layer0 {
    background-color: #FFF5DE;
}

.revised .californium .layer0 {
    background-color: #A85A12;
}

.revised .carbon .layer0 {
    background-color: #141414;
}

.revised .cadmium .layer0 {
    background-color: #32323C;
}

.revised .cerium .layer0 {
    background-color: #87917D;
}

.revised .chlorine .layer0 {

}

.revised .chromium .layer0 {
    background-color: #EAC4D8;
}

.revised .cobalt .layer0 {
    background-color: #5050FA;
}

.revised .copernicium .layer0 {
    background-color: #FFFEFF;
}

.revised .copper .layer0 {
    background-color: #FF6400;
}

.revised .curium .layer0 {
    background-color: #7B544E;
}

.revised .darmstadtium .layer0 {
    background-color: #578062;
}

.revised .deuterium .layer0 {

}

.revised .dubnium .layer0 {
    background-color: #D3FDFF;
}

.revised .dysprosium .layer0 {

}

.revised .einsteinium .layer0 {
    background-color: #CE9F00;
}

.revised .erbium .layer0 {

}

.revised .europium .layer0 {
    background-color: #20FFFF;
}

.revised .fermium .layer0 {
    background-color: #984ACF;
}

.revised .flerovium .layer0 {

}

.revised .fluorine .layer0 {

}

.revised .francium .layer0 {
    background-color: #AAAAAA;
}

.revised .gadolinium .layer0 {
    background-color: #DDDDFF;
}

.revised .gallium .layer0 {
    background-color: #DCDCFF;
}

.revised .germanium .layer0 {
    background-color: #434343;
}

.revised .gold .layer0 {
    background-color: #fff04e; /*#FFEB10;*/
}
.revised .gold .layer1 {
    background-color: #f25833 /*#E06B15;*/
}

.revised .hafnium .layer0 {
    background-color: #99999A;
}

.revised .hassium .layer0 {
    background-color: #DDDDDD;
}

.revised .holmium .layer0 {

}

.revised .hydrogen .layer0 {
    background-color: #0000B5;
}

.revised .helium .layer0 {

}

.revised .helium_3 .layer0 {

}

.revised .indium .layer0 {
    background-color: #400080;
}

.revised .iodine .layer0 {
    background-color: #2C344F;
}

.revised .iridium .layer0 {
    background-color: #A1E4E4;
}

.revised .iron .layer0 {
    background-color: #C8C8C8;
}

.revised .krypton .layer0 {
    background-color: #80FF80;
}

.revised .lanthanum .layer0 {
    background-color: #5D7575;
}

.revised .lawrencium .layer0 {

}

.revised .lead .layer0 {
    background-color: #8C648C;
}

.revised .lithium .layer0 {
    background-color: #BDC7DB;
}

.revised .livermorium .layer0 {
    background-color: #AAAAAA;
}

.revised .lutetium .layer0 {
    background-color: #00AAFF;
}

.revised .magnesium .layer0 {
    background-color: #FFC8C8;
}

.revised .mendelevium .layer0 {
    background-color: #1D4ACF;
}

.revised .manganese .layer0 {
    background-color: #CDE1B9;
}

.revised .meitnerium .layer0 {
    background-color: #2246BE;
}

.revised .mercury .layer0 {
    background-color: #E6DCDC;
}

.revised .molybdenum .layer0 {
    background-color: #B4B4DC;
}

.revised .moscovium .layer0 {
    background-color: #7854AD;
}

.revised .neodymium .layer0 {
    background-color: #646464;
}

.revised .neon .layer0 {
    background-color: #FAB4B4;
}

.revised .neptunium .layer0 {
    background-color: #284D7B;
}

.revised .nickel .layer0 {
    background-color: #C8C8FA;
}

.revised .nihonium .layer0 {
    background-color: #08269E;
}

.revised .niobium .layer0 {
    background-color: #BEB4C8;
}

.revised .nitrogen .layer0 {
    background-color: #00BFC1;
}

.revised .nobelium .layer0 {

}

.revised .osmium .layer0 {
    background-color: #3232FF;
}

.revised .oxygen .layer0 {
    background-color: #4CC3FF;
}

.revised .palladium .layer0 {
    background-color: #808080;
}

.revised .phosphorus .layer0 {
    background-color: #FFFF00;
}

.revised .polonium .layer0 {
    background-color: #C9D47E;
}

.revised .platinum .layer0 {
    background-color: #FFFFC8;
}

.revised .plutonium .layer0 {
    background-color: #F03232;
}

.revised .plutonium_241 .layer0 {
    background-color: #FA4646;
}

.revised .potassium .layer0 {
    background-color: #BEDCFF;
}

.revised .praseodymium .layer0 {
    background-color: #CECECE;
}

.revised .promethium .layer0 {

}

.revised .protactinium .layer0 {
    background-color: #A78B6D;
}

.revised .radon .layer0 {
    background-color: #FF39FF;
}

.revised .radium .layer0 {
    background-color: #FFFFCD;
}

.revised .rhenium .layer0 {
    background-color: #B6BAC3;
}

.revised .rhodium .layer0 {
    background-color: #DC0C58;
}

.revised .roentgenium .layer0 {
    background-color: #E3FDEC;
}

.revised .rubidium .layer0 {
    background-color: #F01E1E;
}

.revised .ruthenium .layer0 {
    background-color: #50ACCD;
}

.revised .rutherfordium .layer0 {
    background-color: #FFF6A1;
}

.revised .samarium .layer0 {
    background-color: #FFFFCC;
}

.revised .scandium .layer0 {

}

.revised .seaborgium .layer0 {
    background-color: #19C5FF;
}

.revised .selenium .layer0 {
    background-color: #3C3C50;
}

.revised .silver .layer0 {
    background-color: #DCDCFF;
}

.revised .sodium .layer0 {
    background-color: #000096;
}

.revised .strontium .layer0 {
    background-color: #C8C8C8;
}

.revised .sulfur .layer0 {
    background-color: #C8C800;
}

.revised .tantalum .layer0 {
    background-color: #78788c;
}

.revised .technetium .layer0 {
    background-color: #545455;
}

.revised .tellurium .layer0 {

}

.revised .tennessine .layer0 {
    background-color: #977FD6;
}

.revised .terbium .layer0 {

}

.revised .thorium .layer0 {
    background-color: #001E00;
}

.revised .thallium .layer0 {
    background-color: #C1C1DE;
}

.revised .thulium .layer0 {

}

.revised .tin .layer0 {
    background-color: #DCDCDC;
}

.revised .titanium .layer0 {
    background-color: #DCA0F0;
}

.revised .tritium .layer0 {

}

.revised .tungsten .layer0 {
    background-color: #323232;
}

.revised .uranium .layer0 {
    background-color: #32F032;
}

.revised .uranium_235 .layer0 {
    background-color: #46FA46;
}

.revised .vanadium .layer0 {
    background-color: #323232;
}

.revised .xenon .layer0 {
    background-color: #00FFFF;
}

.revised .ytterbium .layer0 {
    background-color: #A7A7A7;
}

.revised .yttrium .layer0 {
    background-color: #76524C;
}

.revised .zinc .layer0 {
    background-color: #EBEBFA;
}

.revised .zirconium .layer0 {
    background-color: #C8FFFF;
}

.revised .naquadah .layer0 {
    background-color: #323232;
}

.revised .enriched_naquadah .layer0 {
    background-color: #3C3C3C;
}

.revised .naquadria .layer0 {
    background-color: #1E1E1E;
}

.revised .neutronium .layer0 {
    background-color: #FAFAFA;
}

.revised .tritanium .layer0 {
    background-color: #600000;
}

.revised .duranium .layer0 {
    background-color: #4BAFAF;
}

.revised .trinium .layer0 {
    background-color: #9973BD;
}