.revised .almandine .layer0 {
    background-color: #FF0000;
}

.revised .andradite .layer0 {
    background-color: #967800;
}

.revised .annealed_copper .layer0 {
    background-color: #FF8D3B;
}

.revised .asbestos .layer0 {
    background-color: #E6E6E6;
}

.revised .ash .layer0 {
    background-color: #969696;
}

.revised .hematite .layer0 {
    background-color: #915A5A;
}

.revised .battery_alloy .layer0 {
    background-color: #9C7CA0;
}

.revised .blue_topaz .layer0 {
    background-color: #7B96DC;
}

.revised .bone .layer0 {
    background-color: #FAFAFA;
}

.revised .brass .layer0 {
    background-color: #FFB400;
}

.revised .bronze .layer0 {
    background-color: #FF8000;
}

.revised .goethite .layer0 {
    background-color: #C86400;
}

.revised .calcite .layer0 {
    background-color: #FAE6DC;
}

.revised .cassiterite .layer0 {
    background-color: #DCDCDC;
}

.revised .cassiterite_sand .layer0 {
    background-color: #DCDCDC;
}

.revised .chalcopyrite .layer0 {
    background-color: #A07828;
}

.revised .charcoal .layer0 {
    background-color: #644646;
}

.revised .chromite .layer0 {
    background-color: #23140F;
}

.revised .cinnabar .layer0 {
    background-color: #960000;
}

.revised .water .layer0 {
    background-color: #0000FF;
}

.revised .liquid_oxygen .layer0 {
    background-color: #6688DD;
}

.revised .coal .layer0 {
    background-color: #464646;
}

.revised .cobaltite .layer0 {
    background-color: #5050FA;
}

.revised .cooperite .layer0 {
    background-color: #FFFFC8;
}

.revised .cupronickel .layer0 {
    background-color: #E39680;
}

.revised .dark_ash .layer0 {
    background-color: #323232;
}

.revised .diamond .layer0 {
    background-color: #C8FFFF;
}

.revised .electrum .layer0 {
    background-color: #FFFF64;
}

.revised .emerald .layer0 {
    background-color: #50FF50;
}

.revised .galena .layer0 {
    background-color: #643C64;
}

.revised .garnierite .layer0 {
    background-color: #32C846;
}

.revised .green_sapphire .layer0 {
    background-color: #64C882;
}

.revised .grossular .layer0 {
    background-color: #C86400;
}

.revised .ice .layer0 {
    background-color: #C8C8FF;
}

.revised .ilmenite .layer0 {
    background-color: #463732;
}

.revised .rutile .layer0 {
    background-color: #D40D5C;
}

.revised .bauxite .layer0 {
    background-color: #C86400;
}

.revised .invar .layer0 {
    background-color: #B4B478;
}

.revised .kanthal .layer0 {
    background-color: #C2D2DF;
}

.revised .lazurite .layer0 {
    background-color: #C8BEFF;
}

.revised .magnesite .layer0 {
    background-color: #FAFAB4;
}

.revised .magnetite .layer0 {
    background-color: #1E1E1E;
}

.revised .molybdenite .layer0 {
    background-color: #191919;
}

.revised .nichrome .layer0 {
    background-color: #CDCEF6;
}

.revised .niobium_nitride .layer0 {
    background-color: #1D291D;
}

.revised .niobium_titanium .layer0 {
    background-color: #1D1D29;
}

.revised .obsidian .layer0 {
    background-color: #503264;
}

.revised .phosphate .layer0 {
    background-color: #FFFF00;
}

.revised .platinum_raw .layer0 {
    background-color: #FFFFC8;
}

.revised .sterling_silver .layer0 {
    background-color: #FADCE1;
}

.revised .rose_gold .layer0 {
    background-color: #FFE61E;
}

.revised .black_bronze .layer0 {
    background-color: #64327D;
}

.revised .bismuth_bronze .layer0 {
    background-color: #647D7D;
}

.revised .biotite .layer0 {
    background-color: #141E14;
}

.revised .powellite .layer0 {
    background-color: #FFFF00;
}

.revised .pyrite .layer0 {
    background-color: #967828;
}

.revised .pyrolusite .layer0 {
    background-color: #9696AA;
}

.revised .pyrope .layer0 {
    background-color: #783264;
}

.revised .rock_salt .layer0 {
    background-color: #F0C8C8;
}

.revised .ruridit .layer0 {
}

.revised .ruby .layer0 {
    background-color: #FF6464;
}

.revised .salt .layer0 {
    background-color: #FAFAFA;
}

.revised .saltpeter .layer0 {
    background-color: #E6E6E6;
}

.revised .sapphire .layer0 {
    background-color: #6464C8;
}

.revised .scheelite .layer0 {
    background-color: #C88C14;
}

.revised .sodalite .layer0 {
    background-color: #1414FF;
}

.revised .aluminium_sulfite .layer0 {
    background-color: #CC4BBB;
}

.revised .tantalite .layer0 {
    background-color: #915028;
}

.revised .coke .layer0 {
    background-color: #666666;
}

.revised .soldering_alloy .layer0 {
    background-color: #9696A0;
}

.revised .spessartine .layer0 {
    background-color: #FF6464;
}

.revised .sphalerite .layer0 {
    background-color: #FFFFFF;
}

.revised .stainless_steel .layer0 {
    background-color: #C8C8DC;
}

.revised .steel .layer0 {
    background-color: #808080;
}

.revised .stibnite .layer0 {
    background-color: #464646;
}

.revised .tetrahedrite .layer0 {
    background-color: #C82000;
}

.revised .tin_alloy .layer0 {
    background-color: #C8C8C8;
}

.revised .topaz .layer0 {
    background-color: #FF8000;
}

.revised .tungstate .layer0 {
    background-color: #373223;
}

.revised .ultimet .layer0 {
    background-color: #B4B4E6;
}

.revised .uraninite .layer0 {
    background-color: #232323;
}

.revised .uvarovite .layer0 {
    background-color: #B4ffB4;
}

.revised .vanadium_gallium .layer0 {
    background-color: #80808C;
}

.revised .wrought_iron .layer0 {
    background-color: #C8B4B4;
}

.revised .wulfenite .layer0 {
    background-color: #FF8000;
}

.revised .yellow_limonite .layer0 {
    background-color: #C8C800;
}

.revised .yttrium_barium_cuprate .layer0 {
    background-color: #504046;
}

.revised .nether_quartz .layer0 {
    background-color: #E6D2D2;
}

.revised .certus_quartz .layer0 {
    background-color: #D2D2E6;
}

.revised .quartzite .layer0 {
    background-color: #D2E6D2;
}

.revised .graphite .layer0 {
    background-color: #808080;
}

.revised .graphene .layer0 {
    background-color: #808080;
}

.revised .tungstic_acid .layer0 {
    background-color: #BCC800;
}

.revised .osmiridium .layer0 {
    background-color: #6464FF;
}

.revised .lithium_chloride .layer0 {
    background-color: #DEDEFA;
}

.revised .calcium_chloride .layer0 {
    background-color: #EBEBFA;
}

.revised .bornite .layer0 {
    background-color: #97662B;
}

.revised .chalcocite .layer0 {
    background-color: #353535;
}

.revised .gallium_arsenide .layer0 {
    background-color: #A0A0A0;
}

.revised .potash .layer0 {
    background-color: #784137;
}

.revised .soda_ash .layer0 {
    background-color: #DCDCFF;
}

.revised .indium_gallium_phosphide .layer0 {
    background-color: #A08CBE;
}

.revised .nickel_zinc_ferrite .layer0 {
    background-color: #3C3C3C;
}

.revised .silicon_dioxide .layer0 {
    background-color: #C8C8C8;
}

.revised .magnesium_chloride .layer0 {
    background-color: #D40D5C;
}

.revised .sodium_sulfide .layer0 {
    background-color: #FFE680;
}

.revised .phosphorus_pentoxide .layer0 {
    background-color: #DCDC00;
}

.revised .sodium_bisulfate .layer0 {
    background-color: #004455;
}

.revised .ferrite_mixture .layer0 {
    background-color: #B4B4B4;
}

.revised .magnesia .layer0 {
    background-color: #887878;
}

.revised .platinum_group_sludge .layer0 {
    background-color: #001E00;
}

.revised .sodium_bicarbonate .layer0 {
    background-color: #565b96;
}

.revised .potassium_dichromate .layer0 {
    background-color: #FF084E;
}

.revised .chromium_trioxide .layer0 {
    background-color: #FFE4E1;
}

.revised .antimony_trioxide .layer0 {
    background-color: #E6E6F0;
}

.revised .zincite .layer0 {
    background-color: #FFFFF5;
}

.revised .cupric_oxide .layer0 {
    background-color: #0F0F0F;
}

.revised .cobalt_oxide .layer0 {
    background-color: #788000;
}

.revised .arsenic_trioxide .layer0 {
}

.revised .massicot .layer0 {
    background-color: #FFDD55;
}

.revised .ferrosilite .layer0 {
    background-color: #97632A;
}

.revised .metal_mixture .layer0 {
    background-color: #502d16;
}

.revised .sodium_hydroxide .layer0 {
    background-color: #003380;
}

.revised .sodium_persulfate .layer0 {
}

.revised .bastnasite .layer0 {
    background-color: #C86E2D;
}

.revised .pentlandite .layer0 {
    background-color: #A59605;
}

.revised .spodumene .layer0 {
    background-color: #BEAAAA;
}

.revised .lepidolite .layer0 {
    background-color: #F0328C;
}

.revised .glauconite_sand .layer0 {
    background-color: #82B43C;
}

.revised .malachite .layer0 {
    background-color: #055F05;
}

.revised .mica .layer0 {
    background-color: #C3C3CD;
}

.revised .barite .layer0 {
    background-color: #E6EBEB;
}

.revised .alunite .layer0 {
    background-color: #E1B441;
}

.revised .talc .layer0 {
    background-color: #5AB45A;
}

.revised .soapstone .layer0 {
    background-color: #5F915F;
}

.revised .kyanite .layer0 {
    background-color: #6E6EFA;
}

.revised .magnetic_iron .layer0 {
    background-color: #C8C8C8;
}

.revised .tungsten_carbide .layer0 {
    background-color: #330066;
}

.revised .carbon_dioxide .layer0 {
    background-color: #A9D0F5;
}

.revised .titanium_tetrachloride .layer0 {
    background-color: #D40D5C;
}

.revised .nitrogen_dioxide .layer0 {
    background-color: #85FCFF;
}

.revised .hydrogen_sulfide .layer0 {
}

.revised .nitric_acid .layer0 {
    background-color: #CCCC00;
}

.revised .sulfuric_acid .layer0 {
}

.revised .phosphoric_acid .layer0 {
    background-color: #DCDC01;
}

.revised .sulfur_trioxide .layer0 {
    background-color: #A0A014;
}

.revised .sulfur_dioxide .layer0 {
    background-color: #0E4880;
}

.revised .hypochlorous_acid .layer0 {
    background-color: #6F8A91;
}

.revised .ammonia .layer0 {
    background-color: #3F3480;
}

.revised .hydrofluoric_acid .layer0 {
    background-color: #0088AA;
}

.revised .nitric_oxide .layer0 {
    background-color: #7DC8F0;
}

.revised .iron_iii_chloride .layer0 {
    background-color: #060B0B;
}

.revised .uranium_hexafluoride .layer0 {
    background-color: #42D126;
}

.revised .enriched_uranium_hexafluoride .layer0 {
    background-color: #4BF52A;
}

.revised .depleted_uranium_hexafluoride .layer0 {
    background-color: #74BA66;
}

.revised .nitrous_oxide .layer0 {
    background-color: #7DC8FF;
}

.revised .ender_pearl .layer0 {
    background-color: #6CDCC8;
}

.revised .potassium_feldspar .layer0 {
    background-color: #782828;
}

.revised .magnetic_neodymium .layer0 {
    background-color: #646464;
}

.revised .hydrochloric_acid .layer0 {
}

.revised .steam .layer0 {
}

.revised .distilled_water .layer0 {
    background-color: #4A94FF;
}

.revised .sodium_potassium .layer0 {
    background-color: #64FCB4;
}

.revised .magnetic_samarium .layer0 {
    background-color: #FFFFCD;
}

.revised .manganese_phosphide .layer0 {
    background-color: #E1B454;
}

.revised .magnesium_diboride .layer0 {
    background-color: #331900;
}

.revised .mercury_barium_calcium_cuprate .layer0 {
    background-color: #555555;
}

.revised .uranium_triplatinum .layer0 {
    background-color: #008700;
}

.revised .samarium_iron_arsenic_oxide .layer0 {
    background-color: #330033;
}

.revised .indium_tin_barium_titanium_cuprate .layer0 {
    background-color: #994C00;
}

.revised .uranium_rhodium_dinaquadide .layer0 {
    background-color: #0A0A0A;
}

.revised .enriched_naquadah_trinium_europium_duranide .layer0 {
    background-color: #FFFFFF;
}

.revised .inert_metal_mixture .layer0 {
    background-color: #E2AE72;
}

.revised .rhodium_sulfate .layer0 {
    background-color: #EEAA55;
}

.revised .ruthenium_tetroxide .layer0 {
    background-color: #C7C7C7;
}

.revised .osmium_tetroxide .layer0 {
    background-color: #ACAD71;
}

.revised .iridium_chloride .layer0 {
    background-color: #013220;
}

.revised .fluoroantimonic_acid .layer0 {
}

.revised .titanium_trifluoride .layer0 {
    background-color: #8F00FF;
}

.revised .calcium_phosphide .layer0 {
    background-color: #A52A2A;
}

.revised .indium_phosphide .layer0 {
    background-color: #582E5C;
}

.revised .barium_sulfide .layer0 {
    background-color: #F0EAD6;
}

.revised .trinium_sulfide .layer0 {
    background-color: #E68066;
}

.revised .zinc_sulfide .layer0 {
    background-color: #FFFFF6;
}

.revised .gallium_sulfide .layer0 {
    background-color: #FFF59E;
}

.revised .antimony_trifluoride .layer0 {
    background-color: #F7EABC;
}

.revised .enriched_naquadah_sulfate .layer0 {
    background-color: #2E2E1C;
}

.revised .naquadria_sulfate .layer0 {
    background-color: #006633;
}

.revised .pyrochlore .layer0 {
    background-color: #2B1100;
}

.revised .liquid_helium .layer0 {
    background-color: #FCFF90;
}