.revised .almandine .layer0 {
    background-color: #FF0000;
}

.revised .andradite .layer0 {
    background-color: #967800;
}

.revised .annealed_copper .layer0 {
    background-color: #FF8D3B;
}

.revised .asbestos .layer0 {
    background-color: #E6E6E6;
}

.revised .ash .layer0 {
    background-color: #969696;
}

.revised .hematite .layer0 {
    background-color: #915A5A;
}

.revised .battery_alloy .layer0 {
    background-color: #9C7CA0;
}

.revised .blue_topaz .layer0 {
    background-color: #7B96DC;
}

.revised .bone .layer0 {
    background-color: #FAFAFA;
}

.revised .brass .layer0 {
    background-color: #ffe36e;
}

.revised .brass .layer1 {
    background-color: #935828;
}

.revised .bronze .layer0 {
    background-color: #ffc370;
}

.revised .bronze .layer1 {
    background-color: #806752;
}

.revised .goethite .layer0 {
    background-color: #97873a;
}
.revised .goethite .layer1 {
    background-color: #313131;
}

.revised .calcite .layer0 {
    background-color: #FAE6DC;
}

.revised .cassiterite .layer0 {
    background-color: #89847e;
}
.revised .cassiterite .layer1 {
    background-color: #3b3b35;
}

.revised .cassiterite_sand .layer0 {
    background-color: #DCDCDC;
}

.revised .chalcopyrite .layer0 {
    background-color: #A07828;
}

.revised .charcoal .layer0 {
    background-color: #7d6f58;
}
.revised .charcoal .layer1 {
    background-color: #13110d;
}

.revised .chromite .layer0 {
    background-color: #c5c1a8;
}
.revised .chromite .layer1 {
    background-color: #4c1a69;
}

.revised .cinnabar .layer0 {
    background-color: #960000;
}

.revised .water .layer0 {
    background-color: #0000FF;
}

.revised .liquid_oxygen .layer0 {
    background-color: #6688DD;
}

.revised .coal .layer0 {
    background-color: #464646;
}

.revised .cobaltite .layer0 {
    background-color: #1975ff;
}
.revised .cobaltite .layer1 {
    background-color: #56071f;
}

.revised .cooperite .layer0 {
    background-color: #e9ffa7;
}
.revised .cooperite .layer1 {
    background-color: #665f2f;
}

.revised .cupronickel .layer0 {
    background-color: #ffda8a;
}
.revised .cupronickel .layer1 {
    background-color: #cd2b00;
}

.revised .dark_ash .layer0 {
    background-color: #323232;
}

.revised .diamond .layer0 {
    background-color: #C8FFFF;
}

.revised .electrum .layer0 {
    background-color: #ffff8b;
}
.revised .electrum .layer1 {
    background-color: #ff8533;
}

.revised .emerald .layer0 {
    background-color: #50FF50;
}

.revised .galena .layer0 {
    background-color: #643C64;
}

.revised .garnierite .layer0 {
    background-color: #32c880;
}
.revised .garnierite .layer1 {
    background-color: #344028;
}

.revised .green_sapphire .layer0 {
    background-color: #64C882;
}

.revised .grossular .layer0 {
    background-color: #C86400;
}

.revised .ice .layer0 {
    background-color: #eef6ff;
}
.revised .ice .layer1 {
    background-color: #6389c9;
}

.revised .ilmenite .layer0 {
    background-color: #2b2a24;
}
.revised .ilmenite .layer1 {
    background-color: #2b1700;
}

.revised .rutile .layer0 {
    background-color: #D40D5C;
}

.revised .bauxite .layer0 {
    background-color: #C86400;
}

.revised .invar .layer0 {
    background-color: #e2e8e1;
}
.revised .invar .layer1 {
    background-color: #495d57;
}

.revised .kanthal .layer0 {
    background-color: #C2D2DF;
}
.revised .kanthal .layer1 {
    background-color: #4c4238;
}

.revised .lazurite .layer0 {
    background-color: #C8BEFF;
}

.revised .magnesite .layer0 {
    background-color: #fbfbf6;
}
.revised .magnesite .layer1 {
    background-color: #80705e;
}

.revised .magnetite .layer0 {
    background-color: #9d9d9d;
}
.revised .magnetite .layer1 {
    background-color: #06070e;
}

.revised .molybdenite .layer0 {
    background-color: #e3ddc3;
}
.revised .molybdenite .layer1 {
    background-color: #191919;
}

.revised .nichrome .layer0 {
    background-color: #ebe6d6;
}
.revised .nichrome .layer1 {
    background-color: #282b42;
}

.revised .niobium_nitride .layer0 {
    background-color: #1D291D;
}

.revised .niobium_titanium .layer0 {
    background-color: #1D1D29;
}

.revised .obsidian .layer0 {
    background-color: #503264;
}

.revised .phosphate .layer0 {
    background-color: #FFFF00;
}

.revised .platinum_raw .layer0 {
    background-color: #a09a7b;
}
.revised .platinum_raw .layer1 {
    background-color: #4e4e45;
}

.revised .sterling_silver .layer0 {
    background-color: #faf4dc;
}
.revised .sterling_silver .layer1 {
    background-color: #484434;
}

.revised .rose_gold .layer0 {
    background-color: #ecd5b8;
}

.revised .rose_gold .layer1 {
    background-color: #d85f2d;
}

.revised .black_bronze .layer0 {
    background-color: #64327D;
}

.revised .bismuth_bronze .layer0 {
    background-color: #647D7D;
}

.revised .biotite .layer0 {
    background-color: #343b34;
}

.revised .biotite .layer1 {
    background-color: #121200;
}

.revised .powellite .layer0 {
    background-color: #FFFF00;
}

.revised .pyrite .layer0 {
    background-color: #fffee6;
}
.revised .pyrite .layer1 {
    background-color: #b69f4e;
}

.revised .pyrolusite .layer0 {
    background-color: #9696AA;
}

.revised .pyrope .layer0 {
    background-color: #783264;
}

.revised .rock_salt .layer0 {
    background-color: #ffeae1;
}
.revised .rock_salt .layer1 {
    background-color: #F0C8C8;
}

.revised .ruridit .layer0 {
}

.revised .ruby .layer0 {
    background-color: #FF6464;
}

.revised .salt .layer0 {
    background-color: #FAFAFA;
}
.revised .salt .layer1 {
    background-color: #FAFAFA;
}

.revised .saltpeter .layer0 {
    background-color: #E6E6E6;
}
.revised .saltpeter .layer0 {
    background-color: #e6e1cf;
}

.revised .sapphire .layer0 {
    background-color: #6464C8;
}

.revised .scheelite .layer0 {
    background-color: #C88C14;
}

.revised .sodalite .layer0 {
    background-color: #1414FF;
}

.revised .aluminium_sulfite .layer0 {
    background-color: #CC4BBB;
}

.revised .tantalite .layer0 {
    background-color: #4e6b94;
}
.revised .tantalite .layer1 {
    background-color: #632300;
}

.revised .coke .layer0 {
    background-color: #666666;
}

.revised .soldering_alloy .layer0 {
    background-color: #9696A0;
}

.revised .spessartine .layer0 {
    background-color: #FF6464;
}

.revised .sphalerite .layer0 {
    background-color: #FFFFFF;
}

.revised .stainless_steel .layer0 {
    background-color: #ededfd;
}
.revised .stainless_steel .layer1 {
    background-color: #19191d;
}

.revised .steel .layer0 {
    background-color: #a7a7a7;
}
.revised .steel .layer1 {
    background-color: #121c37;
}

.revised .stibnite .layer0 {
    background-color: #656565;
}
.revised .stibnite .layer1 {
    background-color: #0a1432;
}

.revised .tetrahedrite .layer0 {
    background-color: #C82000;
}

.revised .tin_alloy .layer0 {
    background-color: #C8C8C8;
}

.revised .topaz .layer0 {
    background-color: #FF8000;
}

.revised .tungstate .layer0 {
    background-color: #373223;
}

.revised .ultimet .layer0 {
    background-color: #9f9fb1;
}
.revised .ultimet .layer1 {
    background-color: #385086;
}

.revised .uraninite .layer0 {
    background-color: #232323;
}

.revised .uvarovite .layer0 {
    background-color: #B4ffB4;
}

.revised .vanadium_gallium .layer0 {
    background-color: #89aeec;
}
.revised .vanadium_gallium .layer1 {
    background-color: #00379d;
}

.revised .wrought_iron .layer0 {
    background-color: #C8B4B4;
}

.revised .wulfenite .layer0 {
    background-color: #FF8000;
}

.revised .yellow_limonite .layer0 {
    background-color: #C8C800;
}

.revised .yttrium_barium_cuprate .layer0 {
    background-color: #504046;
}

.revised .nether_quartz .layer0 {
    background-color: #E6D2D2;
}

.revised .certus_quartz .layer0 {
    background-color: #D2D2E6;
}

.revised .quartzite .layer0 {
    background-color: #D2E6D2;
}

.revised .graphite .layer0 {
    background-color: #808080;
}

.revised .graphene .layer0 {
    background-color: #808080;
}
.revised .graphene .layer1 {
    background-color: #3d3838;
}

.revised .tungstic_acid .layer0 {
    background-color: #fffc03;
}
.revised .tungstic_acid .layer1 {
    background-color: #886217;
}

.revised .osmiridium .layer0 {
    background-color: #e5dcef;
}
.revised .osmiridium .layer1 {
    background-color: #241a44;
}

.revised .lithium_chloride .layer0 {
    background-color: #DEDEFA;
}

.revised .calcium_chloride .layer0 {
    background-color: #FFFFFF;
}
.revised .calcium_chloride .layer1 {
    background-color: #e7e7d7;
}

.revised .bornite .layer0 {
    background-color: #ffe05a;
}

.revised .bornite .layer1 {
    background-color: #442602;
}

.revised .chalcocite .layer0 {
    background-color: #353535;
}

.revised .gallium_arsenide .layer0 {
    background-color: #A0A0A0;
}

.revised .potash .layer0 {
    background-color: #784137;
}

.revised .soda_ash .layer0 {
    background-color: #DCDCFF;
}

.revised .indium_gallium_phosphide .layer0 {
    background-color: #A08CBE;
}

.revised .nickel_zinc_ferrite .layer0 {
    background-color: #3f2821;
}
.revised .nickel_zinc_ferrite .layer1 {
    background-color: #2c2725;
}

.revised .silicon_dioxide .layer0 {
    background-color: #C8C8C8;
}

.revised .magnesium_chloride .layer0 {
    background-color: #D40D5C;
}

.revised .sodium_sulfide .layer0 {
    background-color: #FFE680;
}

.revised .phosphorus_pentoxide .layer0 {
    background-color: #DCDC00;
}

.revised .sodium_bisulfate .layer0 {
    background-color: #004455;
}

.revised .ferrite_mixture .layer0 {
    background-color: #B4B4B4;
}
.revised .ferrite_mixture .layer1 {
    background-color: #763200;
}

.revised .magnesia .layer0 {
    background-color: #887878;
}

.revised .platinum_group_sludge .layer0 {
    background-color: #343228;
}
.revised .platinum_group_sludge .layer1 {
    background-color: #001E00;
}

.revised .sodium_bicarbonate .layer0 {
    background-color: #FFFFFF;
}
.revised .sodium_bicarbonate .layer1 {
    background-color: #a7d2df;
}

.revised .potassium_dichromate .layer0 {
    background-color: #FF084E;
}

.revised .chromium_trioxide .layer0 {
    background-color: #FFE4E1;
}

.revised .antimony_trioxide .layer0 {
    background-color: #E6E6F0;
}

.revised .zincite .layer0 {
    background-color: #FFFFF5;
}

.revised .cupric_oxide .layer0 {
    background-color: #0F0F0F;
}

.revised .cobalt_oxide .layer0 {
    background-color: #788000;
}

.revised .arsenic_trioxide .layer0 {
}

.revised .massicot .layer0 {
    background-color: #FFDD55;
}

.revised .ferrosilite .layer0 {
    background-color: #97632A;
}

.revised .metal_mixture .layer0 {
    background-color: #697077;
}
.revised .metal_mixture .layer1 {
    background-color: #502d16;
}

.revised .sodium_hydroxide .layer0 {
    background-color: #003380;
}

.revised .sodium_persulfate .layer0 {
}

.revised .bastnasite .layer0 {
    background-color: #caab60;
}
.revised .bastnasite .layer1 {
    background-color: #c8502d;
}

.revised .pentlandite .layer0 {
    background-color: #A59605;
}

.revised .spodumene .layer0 {
    background-color: #BEAAAA;
}

.revised .lepidolite .layer0 {
    background-color: #ffdae4;
}
.revised .lepidolite .layer1 {
    background-color: #75376f;
}

.revised .glauconite_sand .layer0 {
    background-color: #82B43C;
}

.revised .malachite .layer0 {
    background-color: #055F05;
}

.revised .mica .layer0 {
    background-color: #ecfeff;
}
.revised .mica .layer1 {
    background-color: #c2a03c;
}

.revised .barite .layer0 {
    background-color: #E6EBEB;
}

.revised .alunite .layer0 {
    background-color: #fbd677;
}

.revised .alunite .layer1 {
    background-color: #e11e0a;
}

.revised .talc .layer0 {
    background-color: #ebffe9;
}
.revised .talc .layer1 {
    background-color: #6fe19b;
}

.revised .soapstone .layer0 {
    background-color: #5F915F;
}

.revised .kyanite .layer0 {
    background-color: #6E6EFA;
}

.revised .magnetic_iron .layer0 {
    background-color: #C8C8C8;
}

.revised .tungsten_carbide .layer0 {
    background-color: #330066;
}

.revised .carbon_dioxide .layer0 {
    background-color: #A9D0F5;
}

.revised .titanium_tetrachloride .layer0 {
    background-color: #D40D5C;
}

.revised .nitrogen_dioxide .layer0 {
    background-color: #85FCFF;
}

.revised .hydrogen_sulfide .layer0 {
}

.revised .nitric_acid .layer0 {
    background-color: #CCCC00;
}

.revised .sulfuric_acid .layer0 {
}

.revised .phosphoric_acid .layer0 {
    background-color: #DCDC01;
}

.revised .sulfur_trioxide .layer0 {
    background-color: #A0A014;
}

.revised .sulfur_dioxide .layer0 {
    background-color: #0E4880;
}

.revised .hypochlorous_acid .layer0 {
    background-color: #6F8A91;
}

.revised .ammonia .layer0 {
    background-color: #3F3480;
}

.revised .hydrofluoric_acid .layer0 {
    background-color: #0088AA;
}

.revised .nitric_oxide .layer0 {
    background-color: #7DC8F0;
}

.revised .iron_iii_chloride .layer0 {
    background-color: #060B0B;
}

.revised .uranium_hexafluoride .layer0 {
    background-color: #42D126;
}

.revised .enriched_uranium_hexafluoride .layer0 {
    background-color: #4BF52A;
}

.revised .depleted_uranium_hexafluoride .layer0 {
    background-color: #74BA66;
}

.revised .nitrous_oxide .layer0 {
    background-color: #7DC8FF;
}

.revised .ender_pearl .layer0 {
    background-color: #6CDCC8;
}

.revised .potassium_feldspar .layer0 {
    background-color: #ffe3bc;
}
.revised .potassium_feldspar .layer1 {
    background-color: #d4918a;
}

.revised .magnetic_neodymium .layer0 {
    background-color: #646464;
}

.revised .hydrochloric_acid .layer0 {
}

.revised .steam .layer0 {
}

.revised .distilled_water .layer0 {
    background-color: #4A94FF;
}

.revised .sodium_potassium .layer0 {
    background-color: #64FCB4;
}

.revised .magnetic_samarium .layer0 {
    background-color: #FFFFCD;
}

.revised .manganese_phosphide .layer0 {
    background-color: #E1B454;
}

.revised .magnesium_diboride .layer0 {
    background-color: #603c1a;
}
.revised .magnesium_diboride .layer1 {
    background-color: #423e39;
}

.revised .mercury_barium_calcium_cuprate .layer0 {
    background-color: #777777;
}
.revised .mercury_barium_calcium_cuprate .layer1 {
    background-color: #3f2e2e;
}

.revised .uranium_triplatinum .layer0 {
    background-color: #457045;
}
.revised .uranium_triplatinum .layer1 {
    background-color: #66ff00;
}

.revised .samarium_iron_arsenic_oxide .layer0 {
    background-color: #850e85;
}
.revised .samarium_iron_arsenic_oxide .layer1 {
    background-color: #332f33;
}

.revised .indium_tin_barium_titanium_cuprate .layer0 {
    background-color: #686760;
}
.revised .indium_tin_barium_titanium_cuprate .layer1 {
    background-color: #673300;
}

.revised .uranium_rhodium_dinaquadide .layer0 {
    background-color: #0A0A0A;
}

.revised .enriched_naquadah_trinium_europium_duranide .layer0 {
    background-color: #c5c1a4;
}
.revised .enriched_naquadah_trinium_europium_duranide .layer1 {
    background-color: #2b0645;
}

.revised .inert_metal_mixture .layer0 {
    background-color: #c1aa8d;
}
.revised .inert_metal_mixture .layer1 {
    background-color: #6a1600;
}

.revised .rhodium_sulfate .layer0 {
    background-color: #EEAA55;
}

.revised .ruthenium_tetroxide .layer0 {
    background-color: #C7C7C7;
}

.revised .osmium_tetroxide .layer0 {
    background-color: #ACAD71;
}
.revised .osmium_tetroxide .layer1 {
    background-color: #291f34;
}

.revised .iridium_chloride .layer0 {
    background-color: #373c09;
}
.revised .iridium_chloride .layer1 {
    background-color: #012213;
}

.revised .fluoroantimonic_acid .layer0 {
}

.revised .titanium_trifluoride .layer0 {
    background-color: #8F00FF;
}
.revised .titanium_trifluoride .layer1 {
    background-color: #341465;
}

.revised .calcium_phosphide .layer0 {
    background-color: #FFF5DE;
}
.revised .calcium_phosphide .layer1 {
    background-color: #f6baba;
}

.revised .indium_phosphide .layer0 {
    background-color: #734d77;
}
.revised .indium_phosphide .layer1 {
    background-color: #2c272d;
}

.revised .barium_sulfide .layer0 {
    background-color: #80784a;
}

.revised .barium_sulfide .layer1 {
    background-color: #2c333b;
}

.revised .trinium_sulfide .layer0 {
    background-color: #E68066;
}
.revised .trinium_sulfide .layer1 {
    background-color: #6f143a;
}

.revised .zinc_sulfide .layer0 {
    background-color: #FFFFF6;
}

.revised .gallium_sulfide .layer0 {
    background-color: #ffee5d;
}
.revised .gallium_sulfide .layer1 {
    background-color: #edf008;
}

.revised .antimony_trifluoride .layer0 {
    background-color: #fffbef;
}
.revised .antimony_trifluoride .layer1 {
    background-color: #F7EABC;
}

.revised .enriched_naquadah_sulfate .layer0 {
    background-color: #ff8023;
}
.revised .enriched_naquadah_sulfate .layer1 {
    background-color: #044610;
}

.revised .naquadria_sulfate .layer0 {
    background-color: #85ff5a;
}
.revised .naquadria_sulfate .layer1 {
    background-color: #006633;
}

.revised .pyrochlore .layer0 {
    background-color: #5b4838;
}
.revised .pyrochlore .layer1 {
    background-color: #331400;
}

.revised .liquid_helium .layer0 {
    background-color: #FCFF90;
}