.revised .almandine .layer0 {
    background-color: #a21717;
}
.revised .almandine .layer1 {
    background-color: #4b1e0c;
}

.revised .andradite .layer0 {
    background-color: #ffce26;
}
.revised .andradite .layer1 {
    background-color: #647d59;
}

.revised .annealed_copper .layer0 {
    background-color: #f2c079;
}
.revised .annealed_copper .layer1 {
    background-color: #e45534;
}

.revised .asbestos .layer0 {
    background-color: #E6E6E6;
}
.revised .asbestos .layer1 {
    background-color: #dbd7bf;
}

.revised .ash .layer0 {
    background-color: #d1d1d1;
}
.revised .ash .layer1 {
    background-color: #8b8989;
}

.revised .hematite .layer0 {
    background-color: #ff7161;
}

.revised .hematite .layer1 {
    background-color: #330817;
}

.revised .battery_alloy .layer0 {
    background-color: #cac0ff;
}
.revised .battery_alloy .layer1 {
    background-color: #5b0020;
}

.revised .blue_topaz .layer0 {
    background-color: #dbfeff;
}
.revised .blue_topaz .layer1 {
    background-color: #a0c4d7;
}

.revised .bone .layer0 {
    background-color: #fcfbed;
}
.revised .bone .layer1 {
    background-color: #a0a38b;
}

.revised .brass .layer0 {
    background-color: #ffe36e;
}
.revised .brass .layer1 {
    background-color: #935828;
}

.revised .bronze .layer0 {
    background-color: #ffc370;
}
.revised .bronze .layer1 {
    background-color: #806752;
}

.revised .goethite .layer0 {
    background-color: #97873a;
}
.revised .goethite .layer1 {
    background-color: #313131;
}

.revised .calcite .layer0 {
    background-color: #fffef8;
}
.revised .calcite .layer1 {
    background-color: #bbaf62;
}

.revised .cassiterite .layer0 {
    background-color: #89847e;
}
.revised .cassiterite .layer1 {
    background-color: #3b3b35;
}

.revised .cassiterite_sand .layer0 {
    background-color: #89847e;
}
.revised .cassiterite_sand .layer1 {
    background-color: #3b3b35;
}

.revised .chalcopyrite .layer0 {
    background-color: #96c185;
}
.revised .chalcopyrite .layer0 {
    background-color: #e3af1a;
}

.revised .charcoal .layer0 {
    background-color: #7d6f58;
}
.revised .charcoal .layer1 {
    background-color: #13110d;
}

.revised .chromite .layer0 {
    background-color: #c5c1a8;
}
.revised .chromite .layer1 {
    background-color: #4c1a69;
}

.revised .cinnabar .layer0 {
    background-color: #ff335f;
}
.revised .cinnabar .layer1 {
    background-color: #3f0110;
}

.revised .water .layer0 {
    background-color: #0000FF;
}

.revised .liquid_oxygen .layer0 {
    background-color: #6688DD;
}

.revised .coal .layer0 {
    background-color: #393e41;
}
.revised .coal .layer1 {
    background-color: #101015;
}

.revised .cobaltite .layer0 {
    background-color: #1975ff;
}
.revised .cobaltite .layer1 {
    background-color: #56071f;
}

.revised .cooperite .layer0 {
    background-color: #e9ffa7;
}
.revised .cooperite .layer1 {
    background-color: #665f2f;
}

.revised .cupronickel .layer0 {
    background-color: #ffda8a;
}
.revised .cupronickel .layer1 {
    background-color: #cd2b00;
}

.revised .dark_ash .layer0 {
    background-color: #8b8989;
}

.revised .dark_ash .layer1 {
    background-color: #555353;
}

.revised .diamond .layer0 {
    background-color: #C8FFFF;
}

.revised .electrum .layer0 {
    background-color: #ffff8b;
}
.revised .electrum .layer1 {
    background-color: #ff8533;
}

.revised .emerald .layer0 {
    background-color: #17ff6c;
}
.revised .emerald .layer1 {
    background-color: #003f00;
}

.revised .galena .layer0 {
    background-color: #f3e8fa;
}

.revised .galena .layer1 {
    background-color: #331d42;
}

.revised .garnierite .layer0 {
    background-color: #32c880;
}
.revised .garnierite .layer1 {
    background-color: #344028;
}

.revised .green_sapphire .layer0 {
    background-color: #9ae6b0;
}
.revised .green_sapphire .layer1 {
    background-color: #64C882;
}

.revised .grossular .layer0 {
    background-color: #ffb777;
}
.revised .grossular .layer1 {
    background-color: #856f48;
}

.revised .ice .layer0 {
    background-color: #eef6ff;
}
.revised .ice .layer1 {
    background-color: #6389c9;
}

.revised .ilmenite .layer0 {
    background-color: #2b2a24;
}
.revised .ilmenite .layer1 {
    background-color: #2b1700;
}

.revised .rutile .layer0 {
    background-color: #892506;
}
.revised .rutile .layer1 {
    background-color: #330101;
}

.revised .realgar .layer0 {
    background-color: #ff3d33;
}
.revised .realgar .layer1 {
    background-color: #3f0110;
}

.revised .bauxite .layer0 {
    background-color: #cfb853;
}
.revised .bauxite .layer1 {
    background-color: #e6220c;
}

.revised .invar .layer0 {
    background-color: #e2e8e1;
}
.revised .invar .layer1 {
    background-color: #495d57;
}

.revised .kanthal .layer0 {
    background-color: #C2D2DF;
}
.revised .kanthal .layer1 {
    background-color: #4c4238;
}

.revised .lazurite .layer0 {
    background-color: #2836f1;
}
.revised .lazurite .layer1 {
    background-color: #183ca3;
}

.revised .magnesite .layer0 {
    background-color: #fbfbf6;
}
.revised .magnesite .layer1 {
    background-color: #80705e;
}

.revised .magnetite .layer0 {
    background-color: #9d9d9d;
}
.revised .magnetite .layer1 {
    background-color: #06070e;
}

.revised .molybdenite .layer0 {
    background-color: #e3ddc3;
}
.revised .molybdenite .layer1 {
    background-color: #191919;
}

.revised .nichrome .layer0 {
    background-color: #ebe6d6;
}
.revised .nichrome .layer1 {
    background-color: #282b42;
}

.revised .niobium_nitride .layer0 {
    background-color: #949599;
}

.revised .niobium_nitride .layer1 {
    background-color: #262528;
}

.revised .niobium_titanium .layer0 {
    background-color: #d2d9f9;
}

.revised .niobium_titanium .layer1 {
    background-color: #262528;
}

.revised .obsidian .layer0 {
    background-color: #3b2754;
}
.revised .obsidian .layer1 {
    background-color: #000001;
}

.revised .phosphate .layer0 {
    background-color: #e8dabd;
}
.revised .phosphate .layer1 {
    background-color: #a48b56;
}

.revised .platinum_raw .layer0 {
    background-color: #a09a7b;
}
.revised .platinum_raw .layer1 {
    background-color: #4e4e45;
}

.revised .sterling_silver .layer0 {
    background-color: #faf4dc;
}
.revised .sterling_silver .layer1 {
    background-color: #484434;
}

.revised .rose_gold .layer0 {
    background-color: #ecd5b8;
}

.revised .rose_gold .layer1 {
    background-color: #d85f2d;
}

.revised .black_bronze .layer0 {
    background-color: #8b7c70;
}
.revised .black_bronze .layer1 {
    background-color: #4b3d32;
}

.revised .bismuth_bronze .layer0 {
    background-color: #ffd26f;
}
.revised .bismuth_bronze .layer1 {
    background-color: #895f3d;
}

.revised .biotite .layer0 {
    background-color: #343b34;
}

.revised .biotite .layer1 {
    background-color: #121200;
}

.revised .powellite .layer0 {
    background-color: #d8cfac;
}
.revised .powellite .layer1 {
    background-color: #bc7a2c;
}

.revised .pyrite .layer0 {
    background-color: #fffee6;
}
.revised .pyrite .layer1 {
    background-color: #b69f4e;
}

.revised .pyrolusite .layer0 {
    background-color: #c7b5ab;
}
.revised .pyrolusite .layer1 {
    background-color: #595756;
}

.revised .pyrope .layer0 {
    background-color: #e81958;
}
.revised .pyrope .layer1 {
    background-color: #811e00;
}

.revised .rock_salt .layer0 {
    background-color: #ffeae1;
}
.revised .rock_salt .layer1 {
    background-color: #F0C8C8;
}

.revised .ruridit .layer0 {
    background-color: #FFFFFF;
}
.revised .ruridit .layer1 {
    background-color: #c5c5c5;
}

.revised .ruby .layer0 {
    background-color: #d72310;
}
.revised .ruby .layer1 {
    background-color: #960b6d;
}

.revised .salt .layer0 {
    background-color: #FAFAFA;
}
.revised .salt .layer1 {
    background-color: #FAFAFA;
}

.revised .saltpeter .layer0 {
    background-color: #E6E6E6;
}
.revised .saltpeter .layer0 {
    background-color: #e6e1cf;
}

.revised .sapphire .layer0 {
    background-color: #3235e3;
}
.revised .sapphire .layer1 {
    background-color: #211455;
}

.revised .scheelite .layer0 {
    background-color: #d7e8b3;
}
.revised .scheelite .layer1 {
    background-color: #143cae;
}

.revised .sodalite .layer0 {
    background-color: #3d54ff;
}
.revised .sodalite .layer1 {
    background-color: #210d78;
}

.revised .aluminium_sulfite .layer0 {
    background-color: #d4ecf9;
}
.revised .aluminium_sulfite .layer1 {
    background-color: #a6b9b6;
}

.revised .tantalite .layer0 {
    background-color: #4e6b94;
}
.revised .tantalite .layer1 {
    background-color: #632300;
}

.revised .coke .layer0 {
    background-color: #575e5b;
}
.revised .coke .layer1 {
    background-color: #1f1f29;
}

.revised .soldering_alloy .layer0 {
    background-color: #9d9da1;
}
.revised .soldering_alloy .layer1 {
    background-color: #8181a1;
}

.revised .spessartine .layer0 {
    background-color: #ffa81e;
}
.revised .spessartine .layer1 {
    background-color: #b33700;
}

.revised .sphalerite .layer0 {
    background-color: #ffdc88;
}
.revised .sphalerite .layer1 {
    background-color: #0f1605;
}

.revised .stainless_steel .layer0 {
    background-color: #ededfd;
}
.revised .stainless_steel .layer1 {
    background-color: #19191d;
}

.revised .steel .layer0 {
    background-color: #a7a7a7;
}
.revised .steel .layer1 {
    background-color: #121c37;
}

.revised .stibnite .layer0 {
    background-color: #656565;
}
.revised .stibnite .layer1 {
    background-color: #0a1432;
}

.revised .tetrahedrite .layer0 {
    background-color: #a3a09b;
}
.revised .tetrahedrite .layer1 {
    background-color: #143313;
}

.revised .tin_alloy .layer0 {
    background-color: #C8C8C8;
}
.revised .tin_alloy .layer1 {
    background-color: #8b8b8b;
}

.revised .topaz .layer0 {
    background-color: #e8d73a;
}
.revised .topaz .layer1 {
    background-color: #f4680f;
}

.revised .tungstate .layer0 {
    background-color: #e0ffc4;
}
.revised .tungstate .layer1 {
    background-color: #ab4400;
}

.revised .ultimet .layer0 {
    background-color: #9f9fb1;
}
.revised .ultimet .layer1 {
    background-color: #385086;
}

.revised .uraninite .layer0 {
    background-color: #ffd52e;
}
.revised .uraninite .layer1 {
    background-color: #17212b;
}

.revised .uvarovite .layer0 {
    background-color: #2ded4c;
}
.revised .uvarovite .layer1 {
    background-color: #00697c;
}

.revised .vanadium_gallium .layer0 {
    background-color: #89aeec;
}
.revised .vanadium_gallium .layer1 {
    background-color: #00379d;
}

.revised .wrought_iron .layer0 {
    background-color: #bcbcbc;
}
.revised .wrought_iron .layer1 {
    background-color: #521c0b;
}

.revised .wulfenite .layer0 {
    background-color: #ff9000;
}
.revised .wulfenite .layer1 {
    background-color: #FF0000;
}

.revised .yellow_limonite .layer0 {
    background-color: #f5e315;
}
.revised .yellow_limonite .layer1 {
    background-color: #c06f33;
}

.revised .yttrium_barium_cuprate .layer0 {
    background-color: #796d72;
}
.revised .yttrium_barium_cuprate .layer1 {
    background-color: #260a3a;
}

.revised .nether_quartz .layer0 {
    background-color: #f8efe3;
}
.revised .nether_quartz .layer1 {
    background-color: #e6c1bb;
}

.revised .certus_quartz .layer0 {
    background-color: #c2d6ff;
}
.revised .certus_quartz .layer1 {
    background-color: #86bacf;
}

.revised .quartzite .layer0 {
    background-color: #f2f5ed;
}
.revised .quartzite .layer1 {
    background-color: #b8e2b8;
}

.revised .graphite .layer0 {
    background-color: #a8a89e;
}

.revised .graphite .layer1 {
    background-color: #172602;
}

.revised .graphene .layer0 {
    background-color: #808080;
}
.revised .graphene .layer1 {
    background-color: #3d3838;
}

.revised .tungstic_acid .layer0 {
    background-color: #fffc03;
}
.revised .tungstic_acid .layer1 {
    background-color: #886217;
}

.revised .osmiridium .layer0 {
    background-color: #e5dcef;
}
.revised .osmiridium .layer1 {
    background-color: #241a44;
}

.revised .lithium_chloride .layer0 {
    background-color: #DEDEFA;
}

.revised .calcium_chloride .layer0 {
    background-color: #FFFFFF;
}
.revised .calcium_chloride .layer1 {
    background-color: #e7e7d7;
}

.revised .bornite .layer0 {
    background-color: #ffe05a;
}

.revised .bornite .layer1 {
    background-color: #442602;
}

.revised .chalcocite .layer0 {
    background-color: #657882;
}
.revised .chalcocite .layer1 {
    background-color: #33302e;
}

.revised .gallium_arsenide .layer0 {
    background-color: #e6ebff;
}
.revised .gallium_arsenide .layer1 {
    background-color: #A0A0A0;
}

.revised .potash .layer0 {
    background-color: #ffa772;
}
.revised .potash .layer1 {
    background-color: #922f1b;
}

.revised .soda_ash .layer0 {
    background-color: #ffffff;
}
.revised .soda_ash .layer1 {
    background-color: #DCDCFF;
}

.revised .indium_gallium_phosphide .layer0 {
    background-color: #f3e5f9;
}

.revised .indium_gallium_phosphide .layer1 {
    background-color: #67596c;
}

.revised .nickel_zinc_ferrite .layer0 {
    background-color: #3f2821;
}
.revised .nickel_zinc_ferrite .layer1 {
    background-color: #2c2725;
}

.revised .silicon_dioxide .layer0 {
    background-color: #f2f2f2;
}
.revised .silicon_dioxide .layer1 {
    background-color: #b2c4c7;
}

.revised .magnalium .layer0 {
    background-color: #adc5e8;
}

.revised .magnalium .layer1 {
    background-color: #522a77;
}

.revised .magnesium_chloride .layer0 {
    background-color: #eee4e9;
}

.revised .magnesium_chloride .layer1 {
    background-color: #D40D5C;
}

.revised .sodium_sulfide .layer0 {
    background-color: #ffd83d;
}
.revised .sodium_sulfide .layer1 {
    background-color: #c54a00;
}

.revised .phosphorus_pentoxide .layer0 {
    background-color: #e89188;
}
.revised .phosphorus_pentoxide .layer1 {
    background-color: #220202;
}

.revised .sodium_bisulfate .layer0 {
    background-color: #feffed;
}
.revised .sodium_bisulfate .layer1 {
    background-color: #f1f0a3;
}

.revised .ferrite_mixture .layer0 {
    background-color: #B4B4B4;
}
.revised .ferrite_mixture .layer1 {
    background-color: #763200;
}

.revised .magnesia .layer0 {
    background-color: #998282;
}
.revised .magnesia .layer1 {
    background-color: #594d19;
}

.revised .platinum_group_sludge .layer0 {
    background-color: #343228;
}
.revised .platinum_group_sludge .layer1 {
    background-color: #001E00;
}

.revised .sodium_bicarbonate .layer0 {
    background-color: #FFFFFF;
}
.revised .sodium_bicarbonate .layer1 {
    background-color: #a7d2df;
}

.revised .potassium_dichromate .layer0 {
    background-color: #ff6000;
}
.revised .potassium_dichromate .layer1 {
    background-color: #FF0000;
}

.revised .chromium_trioxide .layer0 {
    background-color: #FFE4E1;
}

.revised .antimony_trioxide .layer0 {
    background-color: #f5f5ff;
}
.revised .antimony_trioxide .layer1 {
    background-color: #c4c4d6;
}

.revised .zincite .layer0 {
    background-color: #ff9f49;
}
.revised .zincite .layer1 {
    background-color: #ff0000;
}

.revised .cupric_oxide .layer0 {
    background-color: #8df7cf;
}

.revised .cupric_oxide .layer1 {
    background-color: #57696e;
}

.revised .cobalt_oxide .layer0 {
    background-color: #3cb099;
}

.revised .cobalt_oxide .layer1 {
    background-color: #3b5c66;
}

.revised .arsenic_trioxide .layer0 {
    background-color: #f9f3f3;
}
.revised .arsenic_trioxide .layer1 {
    background-color: #3b5c66;
}

.revised .massicot .layer0 {
    background-color: #FFDD55;
}

.revised .massicot .layer1 {
    background-color: #000000;
}

.revised .ferrosilite .layer0 {
    background-color: #968c80;
}

.revised .ferrosilite .layer1 {
    background-color: #97732a;
}

.revised .metal_mixture .layer0 {
    background-color: #697077;
}
.revised .metal_mixture .layer1 {
    background-color: #502d16;
}

.revised .sodium_hydroxide .layer0 {
    background-color: #f5feff;
}
.revised .sodium_hydroxide .layer1 {
    background-color: #a4ebf1;
}

.revised .sodium_persulfate .layer0 {
}

.revised .bastnasite .layer0 {
    background-color: #caab60;
}
.revised .bastnasite .layer1 {
    background-color: #c8502d;
}

.revised .pentlandite .layer0 {
    background-color: #e3cf13;
}
.revised .pentlandite .layer1 {
    background-color: #29315b;
}

.revised .spodumene .layer0 {
    background-color: #ffbcbc;
}
.revised .spodumene .layer1 {
    background-color: #c490ff;
}

.revised .lepidolite .layer0 {
    background-color: #ffdae4;
}
.revised .lepidolite .layer1 {
    background-color: #75376f;
}

.revised .glauconite_sand .layer0 {
    background-color: #1da351;
}
.revised .glauconite_sand .layer1 {
    background-color: #1a6e8f;
}

.revised .malachite .layer0 {
    background-color: #00f1b0;
}
.revised .malachite .layer1 {
    background-color: #107a47;
}

.revised .mica .layer0 {
    background-color: #ecfeff;
}
.revised .mica .layer1 {
    background-color: #c2a03c;
}

.revised .barite .layer0 {
    background-color: #e8e2d1;
}

.revised .barite .layer1 {
    background-color: #f4b74b;
}

.revised .alunite .layer0 {
    background-color: #fbd677;
}

.revised .alunite .layer1 {
    background-color: #e11e0a;
}

.revised .talc .layer0 {
    background-color: #ebffe9;
}
.revised .talc .layer1 {
    background-color: #6fe19b;
}

.revised .soapstone .layer0 {
    background-color: #5a7261;
}
.revised .soapstone .layer1 {
    background-color: #464c4b;
}

.revised .kyanite .layer0 {
    background-color: #d5ffff;
}
.revised .kyanite .layer1 {
    background-color: #5a69d6;
}

.revised .magnetic_iron .layer0 {
    background-color: #eeeeee;
}
.revised .magnetic_iron .layer1 {
    background-color: #979797;
}

.revised .tungsten_carbide .layer0 {
    background-color: #6b6478;
}
.revised .tungsten_carbide .layer1 {
    background-color: #392e44;
}


.revised .carbon_dioxide .layer0 {
    background-color: #A9D0F5;
}

.revised .titanium_tetrachloride .layer0 {
    background-color: #D40D5C;
}

.revised .nitrogen_dioxide .layer0 {
    background-color: #85FCFF;
}

.revised .hydrogen_sulfide .layer0 {
}

.revised .nitric_acid .layer0 {
    background-color: #CCCC00;
}

.revised .sulfuric_acid .layer0 {
}

.revised .phosphoric_acid .layer0 {
    background-color: #DCDC01;
}

.revised .sulfur_trioxide .layer0 {
    background-color: #A0A014;
}

.revised .sulfur_dioxide .layer0 {
    background-color: #0E4880;
}

.revised .hypochlorous_acid .layer0 {
    background-color: #6F8A91;
}

.revised .ammonia .layer0 {
    background-color: #4465a2;
}
.revised .ammonia .layer1 {
    background-color: #3F3480;
}

.revised .hydrofluoric_acid .layer0 {
    background-color: #0088AA;
}

.revised .nitric_oxide .layer0 {
    background-color: #7DC8F0;
}

.revised .iron_iii_chloride .layer0 {
    background-color: #060B0B;
}

.revised .uranium_hexafluoride .layer0 {
    background-color: #42D126;
}

.revised .enriched_uranium_hexafluoride .layer0 {
    background-color: #4BF52A;
}

.revised .depleted_uranium_hexafluoride .layer0 {
    background-color: #74BA66;
}

.revised .nitrous_oxide .layer0 {
    background-color: #7DC8FF;
}

.revised .ender_pearl .layer0 {
    background-color: #8cf4e2;
}

.revised .ender_pearl .layer1 {
    background-color: #032620;
}

.revised .potassium_feldspar .layer0 {
    background-color: #ffe3bc;
}
.revised .potassium_feldspar .layer1 {
    background-color: #d4918a;
}

.revised .magnetic_neodymium .layer0 {
    background-color: #9a8b94;
}
.revised .magnetic_neodymium .layer1 {
    background-color: #2c2c2c;
}

.revised .hydrochloric_acid .layer0 {
}

.revised .steam .layer0 {
}

.revised .distilled_water .layer0 {
    background-color: #4A94FF;
}

.revised .sodium_potassium .layer0 {
    background-color: #64FCB4;
}

.revised .magnetic_samarium .layer0 {
    background-color: #c5c5b3;
}
.revised .magnetic_samarium .layer1 {
    background-color: #183e3f;
}

.revised .manganese_phosphide .layer0 {
    background-color: #E1B454;
}
.revised .manganese_phosphide .layer1 {
    background-color: #223033;
}

.revised .magnesium_diboride .layer0 {
    background-color: #603c1a;
}
.revised .magnesium_diboride .layer1 {
    background-color: #423e39;
}

.revised .mercury_barium_calcium_cuprate .layer0 {
    background-color: #777777;
}
.revised .mercury_barium_calcium_cuprate .layer1 {
    background-color: #3f2e2e;
}

.revised .uranium_triplatinum .layer0 {
    background-color: #457045;
}
.revised .uranium_triplatinum .layer1 {
    background-color: #66ff00;
}

.revised .samarium_iron_arsenic_oxide .layer0 {
    background-color: #850e85;
}
.revised .samarium_iron_arsenic_oxide .layer1 {
    background-color: #332f33;
}

.revised .indium_tin_barium_titanium_cuprate .layer0 {
    background-color: #686760;
}
.revised .indium_tin_barium_titanium_cuprate .layer1 {
    background-color: #673300;
}

.revised .uranium_rhodium_dinaquadide .layer0 {
    background-color: #232020;
}
.revised .uranium_rhodium_dinaquadide .layer1 {
    background-color: #ff009c;
}

.revised .enriched_naquadah_trinium_europium_duranide .layer0 {
    background-color: #c5c1a4;
}
.revised .enriched_naquadah_trinium_europium_duranide .layer1 {
    background-color: #2b0645;
}

.revised .inert_metal_mixture .layer0 {
    background-color: #c1aa8d;
}
.revised .inert_metal_mixture .layer1 {
    background-color: #6a1600;
}

.revised .rhodium_sulfate .layer0 {
    background-color: #EEAA55;
}

.revised .ruthenium_tetroxide .layer0 {
    background-color: #beb809;
}
.revised .ruthenium_tetroxide .layer1 {
    background-color: #4e4e4d;
}

.revised .osmium_tetroxide .layer0 {
    background-color: #ACAD71;
}
.revised .osmium_tetroxide .layer1 {
    background-color: #291f34;
}

.revised .iridium_chloride .layer0 {
    background-color: #373c09;
}
.revised .iridium_chloride .layer1 {
    background-color: #012213;
}

.revised .fluoroantimonic_acid .layer0 {
}

.revised .titanium_trifluoride .layer0 {
    background-color: #8F00FF;
}
.revised .titanium_trifluoride .layer1 {
    background-color: #341465;
}

.revised .calcium_phosphide .layer0 {
    background-color: #FFF5DE;
}
.revised .calcium_phosphide .layer1 {
    background-color: #f6baba;
}

.revised .indium_phosphide .layer0 {
    background-color: #734d77;
}
.revised .indium_phosphide .layer1 {
    background-color: #2c272d;
}

.revised .barium_sulfide .layer0 {
    background-color: #80784a;
}

.revised .barium_sulfide .layer1 {
    background-color: #2c333b;
}

.revised .trinium_sulfide .layer0 {
    background-color: #E68066;
}
.revised .trinium_sulfide .layer1 {
    background-color: #6f143a;
}

.revised .zinc_sulfide .layer0 {
    background-color: #fff4d5;
}
.revised .zinc_sulfide .layer1 {
    background-color: #dadada;
}

.revised .gallium_sulfide .layer0 {
    background-color: #ffee5d;
}
.revised .gallium_sulfide .layer1 {
    background-color: #edf008;
}

.revised .antimony_trifluoride .layer0 {
    background-color: #fffbef;
}
.revised .antimony_trifluoride .layer1 {
    background-color: #F7EABC;
}

.revised .enriched_naquadah_sulfate .layer0 {
    background-color: #ff8023;
}
.revised .enriched_naquadah_sulfate .layer1 {
    background-color: #044610;
}

.revised .naquadria_sulfate .layer0 {
    background-color: #85ff5a;
}
.revised .naquadria_sulfate .layer1 {
    background-color: #006633;
}

.revised .pyrochlore .layer0 {
    background-color: #5b4838;
}
.revised .pyrochlore .layer1 {
    background-color: #331400;
}

.revised .liquid_helium .layer0 {
    background-color: #FCFF90;
}

.revised .quicklime .layer0 {
    background-color: #ecfff3;
}
.revised .quicklime .layer1 {
    background-color: #7d8e83;
}