.revised .electrotine .layer0 {
    background-color: #83cbf5;
}
.revised .electrotine .layer1 {
    background-color: #004585;
}

.revised .ender_eye .layer0 {
    background-color: #66FF66;
}

.revised .diatomite .layer0 {
    background-color: #E1E1E1;
}

.revised .red_steel .layer0 {
    background-color: #8C6464;
}

.revised .blue_steel .layer0 {
    background-color: #a5bdda;
}
.revised .blue_steel .layer1 {
    background-color: #24245f;
}

.revised .basalt .layer0 {
    background-color: #3C3232;
}

.revised .granitic_mineral_sand .layer0 {
    background-color: #283C3C;
}

.revised .redrock .layer0 {
    background-color: #FF5032;
}

.revised .garnet_sand .layer0 {
    background-color: #C86400;
}

.revised .hssg .layer0 {
    background-color: #999900;
}

.revised .red_alloy .layer0 {
    background-color: #C80000;
}

.revised .basaltic_mineral_sand .layer0 {
    background-color: #283228;
}

.revised .hsse .layer0 {
    background-color: #336600;
}

.revised .hsss .layer0 {
    background-color: #660033;
}

.revised .iridium_metal_residue .layer0 {
    background-color: #5C5D68;
}

.revised .granite .layer0 {
    background-color: #CFA18C;
}

.revised .brick .layer0 {
    background-color: #9B5643;
}

.revised .fireclay .layer0 {
    background-color: #ADA09B;
}

.revised .diorite .layer0 {
}

.revised .blue_alloy .layer0 {
    background-color: #64B4FF;
}