.revised .electrotine .layer0 {
    background-color: #83cbf5;
}
.revised .electrotine .layer1 {
    background-color: #004585;
}

.revised .ender_eye .layer0 {
    background-color: #66FF66;
}

.revised .diatomite .layer0 {
    background-color: #E1E1E1;
}

.revised .red_steel .layer0 {
    background-color: #8C6464;
}

.revised .blue_steel .layer0 {
    background-color: #a5bdda;
}
.revised .blue_steel .layer1 {
    background-color: #24245f;
}

.revised .basalt .layer0 {
    background-color: #5c5c5c;
}
.revised .basalt .layer1 {
    background-color: #1b2632;
}

.revised .granitic_mineral_sand .layer0 {
    background-color: #283C3C;
}

.revised .redrock .layer0 {
    background-color: #ffa49e;
}
.revised .redrock .layer1 {
    background-color: #52362a;
}

.revised .garnet_sand .layer0 {
    background-color: #C86400;
}

.revised .hssg .layer0 {
    background-color: #9cbabe;
}
.revised .hssg .layer1 {
    background-color: #032550;
}

.revised .red_alloy .layer0 {
    background-color: #C80000;
}

.revised .basaltic_mineral_sand .layer0 {
    background-color: #283228;
}

.revised .hsse .layer0 {
    background-color: #9d9cbe;
}
.revised .hsse .layer1 {
    background-color: #2b0350;
}

.revised .hsss .layer0 {
    background-color: #ae9abe;
}
.revised .hsss .layer1 {
    background-color: #66000e;
}

.revised .iridium_metal_residue .layer0 {
    background-color: #5C5D68;
}
.revised .iridium_metal_residue .layer1 {
    background-color: #462941;
}

.revised .granite .layer0 {
    background-color: #d69077;
}
.revised .granite .layer1 {
    background-color: #71352c;
}

.revised .brick .layer0 {
    background-color: #c76245;
}
.revised .brick .layer1 {
    background-color: #2d1610;
}

.revised .fireclay .layer0 {
    background-color: #ffeab6;
}
.revised .fireclay .layer1 {
    background-color: #84581c;
}

.revised .diorite .layer0 {
    background-color: #e9e9e9;
}
.revised .diorite .layer1 {
    background-color: #7b7b7b;
}

.revised .blue_alloy .layer0 {
    background-color: #64B4FF;
}