.revised .silicone_rubber .layer0 {
    background-color: #DCDCDC;
}

.revised .nitrobenzene .layer0 {
    background-color: #704936;
}

.revised .raw_rubber .layer0 {
    background-color: #54403D;
}

.revised .styrene_butadiene_rubber .layer0 {
    background-color: #211A18;
}

.revised .polyvinyl_acetate .layer0 {
    background-color: #FF9955;
}

.revised .reinforced_epoxy_resin .layer0 {
    background-color: #A07A10;
}

.revised .polyvinyl_chloride .layer0 {
    background-color: #D7E6E6;
}

.revised .polyphenylene_sulfide .layer0 {
    background-color: #AA8800;
}

.revised .polybenzimidazole .layer0 {
    background-color: #2D2D2D;
}

.revised .polydimethylsiloxane .layer0 {
    background-color: #F5F5F5;
}

.revised .polyethylene .layer0 {
    background-color: #C8C8C8;
}

.revised .epoxy .layer0 {
    background-color: #C88C14;
}

.revised .polycaprolactam .layer0 {
    background-color: #323232;
}

.revised .polytetrafluoroethylene .layer0 {
    background-color: #646464;
}

.revised .sugar .layer0 {
    background-color: #FAFAFA;
}

.revised .methane .layer0 {
    background-color: #FF0078;
}

.revised .epichlorohydrin .layer0 {
    background-color: #712400;
}

.revised .monochloramine .layer0 {
    background-color: #3F9F80;
}

.revised .chloroform .layer0 {
    background-color: #892CA0;
}

.revised .cumene .layer0 {
    background-color: #552200;
}

.revised .tetrafluoroethylene .layer0 {
    background-color: #7D7D7D;
}

.revised .chloromethane .layer0 {
    background-color: #C82CA0;
}

.revised .allyl_chloride .layer0 {
    background-color: #87DEAA;
}

.revised .isoprene .layer0 {
    background-color: #141414;
}

.revised .propane .layer0 {
    background-color: #FAE250;
}

.revised .propene .layer0 {
    background-color: #FFDD55;
}

.revised .ethane .layer0 {
    background-color: #C8C8FF;
}

.revised .butene .layer0 {
    background-color: #CF5005;
}

.revised .butane .layer0 {
    background-color: #B6371E;
}

.revised .dissolved_calcium_acetate .layer0 {
    background-color: #DCC8B4;
}

.revised .vinyl_acetate .layer0 {
    background-color: #E1B380;
}

.revised .methyl_acetate .layer0 {
    background-color: #EEC6AF;
}

.revised .ethenone .layer0 {
    background-color: #141446;
}

.revised .tetranitromethane .layer0 {
    background-color: #0F2828;
}

.revised .dimethylamine .layer0 {
    background-color: #554469;
}

.revised .dimethylhydrazine .layer0 {
    background-color: #000055;
}

.revised .dinitrogen_tetroxide .layer0 {
    background-color: #004184;
}

.revised .dimethyldichlorosilane .layer0 {
    background-color: #441650;
}

.revised .styrene .layer0 {
    background-color: #D2C8BE;
}

.revised .butadiene .layer0 {
    background-color: #B55A10;
}

.revised .dichlorobenzene .layer0 {
    background-color: #004455;
}

.revised .acetic_acid .layer0 {
    background-color: #C8B4A0;
}

.revised .phenol .layer0 {
    background-color: #784421;
}

.revised .bisphenol_a .layer0 {
    background-color: #D4AA00;
}

.revised .vinyl_chloride .layer0 {
    background-color: #E1F0F0;
}

.revised .ethylene .layer0 {
    background-color: #E1E1E1;
}

.revised .benzene .layer0 {
    background-color: #1A1A1A;
}

.revised .acetone .layer0 {
    background-color: #AFAFAF;
}

.revised .glycerol .layer0 {
    background-color: #87DE87;
}

.revised .methanol .layer0 {
    background-color: #AA8800;
}

.revised .ethanol .layer0 {
}

.revised .toluene .layer0 {
}

.revised .diphenyl_isophthalate .layer0 {
    background-color: #246E57;
}

.revised .phthalic_acid .layer0 {
    background-color: #D1D1D1;
}

.revised .dimethylbenzene .layer0 {
    background-color: #669C40;
}

.revised .diaminobenzidine .layer0 {
    background-color: #337D59;
}

.revised .dichlorobenzidine .layer0 {
    background-color: #A1DEA6;
}

.revised .nitrochlorobenzene .layer0 {
    background-color: #8FB51A;
}

.revised .chlorobenzene .layer0 {
    background-color: #326A3E;
}

.revised .octane .layer0 {
    background-color: #8A0A09;
}

.revised .ethyl_tertbutyl_ether .layer0 {
    background-color: #B15C06;
}

.revised .ethylbenzene .layer0 {
}

.revised .naphthalene .layer0 {
    background-color: #F4F4D7;
}

.revised .rubber .layer0 {
    background-color: #000000;
}

.revised .cyclohexane .layer0 {
    background-color: #F2F2F2E7;
}

.revised .nitrosyl_chloride .layer0 {
    background-color: #F3F100;
}

.revised .cyclohexanone_oxime .layer0 {
    background-color: #EBEBF0;
}

.revised .caprolactam .layer0 {
    background-color: #676768;
}

.revised .butyraldehyde .layer0 {
    background-color: #554A3F;
}

.revised .polyvinyl_butyral .layer0 {
    background-color: #347D41;
}