.revised .glass .layer0 {
    background-color: #FAFAFA;
}
.revised .glass .layer1 {
    background-color: #FAFAFA;
}

.revised .perlite .layer0 {
    background-color: #eee0e0;
}
.revised .perlite .layer1 {
    background-color: #c1b9a9;
}

.revised .borax .layer0 {
    background-color: #FFFFFF;
}
.revised .borax .layer1 {
    background-color: #d7e7e7;
}

.revised .salt_water .layer0 {
    background-color: #0000C8;
}

.revised .olivine .layer0 {
    background-color: #a7e404;
}
.revised .olivine .layer1 {
    background-color: #166439;
}

.revised .opal .layer0 {
    background-color: #0000FF;
}

.revised .amethyst .layer0 {
    background-color: #d9a0f3;
}
.revised .amethyst .layer1 {
    background-color: #54398a;
}

.revised .lapis .layer0 {
    background-color: #4646DC;
}

.revised .blaze .layer0 {
    background-color: #fff94d;
}
.revised .blaze .layer1 {
    background-color: #ff330c;
}

.revised .apatite .layer0 {
    background-color: #06cdf1i;
}
.revised .apatite .layer1 {
    background-color: #701c07;
}

.revised .black_steel .layer0 {
    background-color: #666666;
}
.revised .black_steel .layer1 {
    background-color: #1a120e;
}

.revised .damascus_steel .layer0 {
    background-color: #6E6E6E;
}
.revised .damascus_steel .layer1 {
    background-color: #302222;
}

.revised .tungsten_steel .layer0 {
    background-color: #adb8df;
}
.revised .tungsten_steel .layer1 {
    background-color: #03192f;
}

.revised .cobalt_brass .layer0 {
    background-color: #bbac82;
}
.revised .cobalt_brass .layer1 {
    background-color: #596338;
}

.revised .tricalcium_phosphate .layer0 {
    background-color: #FFFF00;
}

.revised .red_garnet .layer0 {
    background-color: #C85050;
}

.revised .yellow_garnet .layer0 {
    background-color: #C8C850;
}

.revised .marble .layer0 {
    background-color: #f0f5f4;
}
.revised .marble .layer1 {
    background-color: #b3b3b3;
}

.revised .deepslate .layer0 {
    background-color: #797979;
}
.revised .deepslate .layer1 {
    background-color: #2f2f37;
}

.revised .granite_red .layer0 {
    background-color: #FF0080;
}

.revised .vanadium_magnetite .layer0 {
    background-color: #8a94a2;
}
.revised .vanadium_magnetite .layer1 {
    background-color: #170322;
}

.revised .quartz_sand .layer0 {
    background-color: #C8C8C8;
}

.revised .pollucite .layer0 {
    background-color: #eed9e1;
}
.revised .pollucite .layer1 {
    background-color: #72a6a7;
}

.revised .bentonite .layer0 {
    background-color: #ede8a3;
}
.revised .bentonite .layer1 {
    background-color: #cdb44c;
}

.revised .fullers_earth .layer0 {
    background-color: #f3efbb;
}
.revised .fullers_earth .layer1 {
    background-color: #b8d066;
}

.revised .pitchblende .layer0 {
    background-color: #ffd647;
}
.revised .pitchblende .layer1 {
    background-color: #0d1e2f;
}

.revised .monazite .layer0 {
    background-color: #d0ee98;
}
.revised .monazite .layer1 {
    background-color: #520505;
}

.revised .mirabilite .layer0 {
    background-color: #f9e7e7;
}

.revised .mirabilite .layer1 {
    background-color: #b57a7a;
}

.revised .trona .layer0 {
    background-color: #e7e7b4;
}
.revised .trona .layer1 {
    background-color: #87875F;
}

.revised .gypsum .layer0 {
    background-color: #fffaec;
}

.revised .gypsum .layer1 {
    background-color: #71570a;
}

.revised .zeolite .layer0 {
    background-color: #f2e3e0;
}
.revised .zeolite .layer1 {
    background-color: #eabeb4;
}

.revised .concrete .layer0 {
    background-color: #faf3e8;
}
.revised .concrete .layer1 {
    background-color: #bbbaba;
}

.revised .magnetic_steel .layer0 {
    background-color: #a7a7a7;
}
.revised .magnetic_steel .layer1 {
    background-color: #121c37;
}


.revised .vanadium_steel .layer0 {
    background-color: #d4d1f1;
}
.revised .vanadium_steel .layer1 {
    background-color: #19140d;
}

.revised .potin .layer0 {
    background-color: #aaada3;
}
.revised .potin .layer1 {
    background-color: #5e3320;
}

.revised .borosilicate_glass .layer0 {
    background-color: #FAFAFA;
}
.revised .borosilicate_glass .layer1 {
    background-color: #faf5c0;
}

.revised .andesite .layer0 {
    background-color: #a8aa9a;
}
.revised .andesite .layer1 {
    background-color: #a8aa9a;
}

.revised .naquadah_alloy .layer0 {
    background-color: #323232;
}
.revised .naquadah_alloy .layer1 {
    background-color: #301131;
}

.revised .sulfuric_nickel_solution .layer0 {
    background-color: #3EB640;
}

.revised .sulfuric_copper_solution .layer0 {
    background-color: #48A5C0;
}

.revised .lead_zinc_solution .layer0 {
}

.revised .nitration_mixture .layer0 {
    background-color: #E6E2AB;
}

.revised .diluted_sulfuric_acid .layer0 {
    background-color: #C07820;
}

.revised .diluted_hydrochloric_acid .layer0 {
    background-color: #99A7A3;
}

.revised .flint .layer0 {
    background-color: #002040;
}

.revised .air .layer0 {
    background-color: #A9D0F5;
}

.revised .liquid_air .layer0 {
    background-color: #A9D0F5;
}

.revised .nether_air .layer0 {
    background-color: #4C3434;
}

.revised .liquid_nether_air .layer0 {
    background-color: #4C3434;
}

.revised .ender_air .layer0 {
    background-color: #283454;
}

.revised .liquid_ender_air .layer0 {
    background-color: #283454;
}

.revised .aqua_regia .layer0 {
    background-color: #FFB132;
}

.revised .platinum_sludge_residue .layer0 {
    background-color: #5e4b40;
}
.revised .platinum_sludge_residue .layer1 {
    background-color: #4b403d;
}


.revised .palladium_raw .layer0 {
    background-color: #5d4e1a;
}
.revised .palladium_raw .layer1 {
    background-color: #33352d;
}

.revised .rarest_metal_mixture .layer0 {
    background-color: #ca8832;
}
.revised .rarest_metal_mixture .layer1 {
    background-color: #b21900;
}

.revised .ammonium_chloride .layer0 {
    background-color: #60a1c5;
}
.revised .ammonium_chloride .layer1 {
    background-color: #48619c;
}

.revised .acidic_osmium_solution .layer0 {
    background-color: #DAC5C5;
}

.revised .rhodium_plated_palladium .layer0 {
    background-color: #d1d1d1;
}
.revised .rhodium_plated_palladium .layer1 {
    background-color: #000000;
}

.revised .clay .layer0 {
    background-color: #bec9e8;
}
.revised .clay .layer1 {
    background-color: #373944;
}

.revised .redstone .layer0 {
    background-color: #ff0000;
}
.revised .redstone .layer1 {
    background-color: #340605;
}