.actinium .layer0 {
    background-color: #C3D1FF;
}

.aluminium .layer0 {
    background-color: #80C8F0;
}

.americium .layer0 {
    background-color: #287869;
}

.antimony .layer0 {
    background-color: #DCDCF0;
}

.argon .layer0 {
    background-color: #00FF00;
}

.arsenic .layer0 {
    background-color: #676756;
}

.astatine .layer0 {
    background-color: #241A24;
}

.barium .layer0 {
    background-color: #83824C;
}

.berkelium .layer0 {
    background-color: #645A88;
}

.beryllium .layer0 {
    background-color: #64B464;
}
.bismuth .layer0 {
    background-color: #64A0A0;
}

.bohrium .layer0 {
    background-color: #DC57FF;
}

.boron .layer0 {
    background-color: #D2FAD2;
}

.bromine .layer0 {
    background-color: #500A0A;
}

.caesium .layer0 {
    background-color: #80620B;
}

.calcium .layer0 {
    background-color: #FFF5DE;
}

.californium .layer0 {
    background-color: #A85A12;
}

.carbon .layer0 {
    background-color: #141414;
}

.cadmium .layer0 {
    background-color: #32323C;
}

.cerium .layer0 {
    background-color: #87917D;
}

.chlorine .layer0 {

}

.chromium .layer0 {
    background-color: #EAC4D8;
}

.cobalt .layer0 {
    background-color: #5050FA;
}

.copernicium .layer0 {
    background-color: #FFFEFF;
}

.copper .layer0 {
    background-color: #FF6400;
}

.curium .layer0 {
    background-color: #7B544E;
}

.darmstadtium .layer0 {
    background-color: #578062;
}

.deuterium .layer0 {

}

.dubnium .layer0 {
    background-color: #D3FDFF;
}

.dysprosium .layer0 {

}

.einsteinium .layer0 {
    background-color: #CE9F00;
}

.erbium .layer0 {

}

.europium .layer0 {
    background-color: #20FFFF;
}

.fermium .layer0 {
    background-color: #984ACF;
}

.flerovium .layer0 {

}

.fluorine .layer0 {

}

.francium .layer0 {
    background-color: #AAAAAA;
}

.gadolinium .layer0 {
    background-color: #DDDDFF;
}

.gallium .layer0 {
    background-color: #DCDCFF;
}

.germanium .layer0 {
    background-color: #434343;
}

.gold .layer0 {
    background-color: #FFE650;
}

.hafnium .layer0 {
    background-color: #99999A;
}

.hassium .layer0 {
    background-color: #DDDDDD;
}

.holmium .layer0 {

}

.hydrogen .layer0 {
    background-color: #0000B5;
}

.helium .layer0 {

}

.helium_3 .layer0 {

}

.indium .layer0 {
    background-color: #400080;
}

.iodine .layer0 {
    background-color: #2C344F;
}

.iridium .layer0 {
    background-color: #A1E4E4;
}

.iron .layer0 {
    background-color: #C8C8C8;
}

.krypton .layer0 {
    background-color: #80FF80;
}

.lanthanum .layer0 {
    background-color: #5D7575;
}

.lawrencium .layer0 {

}

.lead .layer0 {
    background-color: #8C648C;
}

.lithium .layer0 {
    background-color: #BDC7DB;
}

.livermorium .layer0 {
    background-color: #AAAAAA;
}

.lutetium .layer0 {
    background-color: #00AAFF;
}

.magnesium .layer0 {
    background-color: #FFC8C8;
}

.mendelevium .layer0 {
    background-color: #1D4ACF;
}

.manganese .layer0 {
    background-color: #CDE1B9;
}

.meitnerium .layer0 {
    background-color: #2246BE;
}

.mercury .layer0 {
    background-color: #E6DCDC;
}

.molybdenum .layer0 {
    background-color: #B4B4DC;
}

.moscovium .layer0 {
    background-color: #7854AD;
}

.neodymium .layer0 {
    background-color: #646464;
}

.neon .layer0 {
    background-color: #FAB4B4;
}

.neptunium .layer0 {
    background-color: #284D7B;
}

.nickel .layer0 {
    background-color: #C8C8FA;
}

.nihonium .layer0 {
    background-color: #08269E;
}

.niobium .layer0 {
    background-color: #BEB4C8;
}

.nitrogen .layer0 {
    background-color: #00BFC1;
}

.nobelium .layer0 {

}

.osmium .layer0 {
    background-color: #3232FF;
}

.oxygen .layer0 {
    background-color: #4CC3FF;
}

.palladium .layer0 {
    background-color: #808080;
}

.phosphorus .layer0 {
    background-color: #FFFF00;
}

.polonium .layer0 {
    background-color: #C9D47E;
}

.platinum .layer0 {
    background-color: #FFFFC8;
}

.plutonium .layer0 {
    background-color: #F03232;
}

.plutonium_241 .layer0 {
    background-color: #FA4646;
}

.potassium .layer0 {
    background-color: #BEDCFF;
}

.praseodymium .layer0 {
    background-color: #CECECE;
}

.promethium .layer0 {

}

.protactinium .layer0 {
    background-color: #A78B6D;
}

.radon .layer0 {
    background-color: #FF39FF;
}

.radium .layer0 {
    background-color: #FFFFCD;
}

.rhenium .layer0 {
    background-color: #B6BAC3;
}

.rhodium .layer0 {
    background-color: #DC0C58;
}

.roentgenium .layer0 {
    background-color: #E3FDEC;
}

.rubidium .layer0 {
    background-color: #F01E1E;
}

.ruthenium .layer0 {
    background-color: #50ACCD;
}

.rutherfordium .layer0 {
    background-color: #FFF6A1;
}

.samarium .layer0 {
    background-color: #FFFFCC;
}

.scandium .layer0 {

}

.seaborgium .layer0 {
    background-color: #19C5FF;
}

.selenium .layer0 {
    background-color: #3C3C50;
}

.silver .layer0 {
    background-color: #DCDCFF;
}

.sodium .layer0 {
    background-color: #000096;
}

.strontium .layer0 {
    background-color: #C8C8C8;
}

.sulfur .layer0 {
    background-color: #C8C800;
}

.tantalum .layer0 {
    background-color: #78788c;
}

.technetium .layer0 {
    background-color: #545455;
}

.tellurium .layer0 {

}

.tennessine .layer0 {
    background-color: #977FD6;
}

.terbium .layer0 {

}

.thorium .layer0 {
    background-color: #001E00;
}

.thallium .layer0 {
    background-color: #C1C1DE;
}

.thulium .layer0 {

}

.tin .layer0 {
    background-color: #DCDCDC;
}

.titanium .layer0 {
    background-color: #DCA0F0;
}

.tritium .layer0 {

}

.tungsten .layer0 {
    background-color: #323232;
}

.uranium .layer0 {
    background-color: #32F032;
}

.uranium_235 .layer0 {
    background-color: #46FA46;
}

.vanadium .layer0 {
    background-color: #323232;
}

.xenon .layer0 {
    background-color: #00FFFF;
}

.ytterbium .layer0 {
    background-color: #A7A7A7;
}

.yttrium .layer0 {
    background-color: #76524C;
}

.zinc .layer0 {
    background-color: #EBEBFA;
}

.zirconium .layer0 {
    background-color: #C8FFFF;
}

.naquadah .layer0 {
    background-color: #323232;
}

.enriched_naquadah .layer0 {
    background-color: #3C3C3C;
}

.naquadria .layer0 {
    background-color: #1E1E1E;
}

.neutronium .layer0 {
    background-color: #FAFAFA;
}

.tritanium .layer0 {
    background-color: #600000;
}

.duranium .layer0 {
    background-color: #4BAFAF;
}

.trinium .layer0 {
    background-color: #9973BD;
}