.electrotine .layer0 {
    background-color: #3CB4C8;
}

.ender_eye .layer0 {
    background-color: #66FF66;
}

.diatomite .layer0 {
    background-color: #E1E1E1;
}

.red_steel .layer0 {
    background-color: #8C6464;
}

.blue_steel .layer0 {
    background-color: #64648C;
}

.basalt .layer0 {
    background-color: #3C3232;
}

.granitic_mineral_sand .layer0 {
    background-color: #283C3C;
}

.redrock .layer0 {
    background-color: #FF5032;
}

.garnet_sand .layer0 {
    background-color: #C86400;
}

.hssg .layer0 {
    background-color: #999900;
}

.red_alloy .layer0 {
    background-color: #C80000;
}

.basaltic_mineral_sand .layer0 {
    background-color: #283228;
}

.hsse .layer0 {
    background-color: #336600;
}

.hsss .layer0 {
    background-color: #660033;
}

.iridium_metal_residue .layer0 {
    background-color: #5C5D68;
}

.granite .layer0 {
    background-color: #CFA18C;
}

.brick .layer0 {
    background-color: #9B5643;
}

.fireclay .layer0 {
    background-color: #ADA09B;
}

.diorite .layer0 {
}

.blue_alloy .layer0 {
    background-color: #64B4FF;
}