.silicone_rubber .layer0 {
    background-color: #DCDCDC;
}

.nitrobenzene .layer0 {
    background-color: #704936;
}

.raw_rubber .layer0 {
    background-color: #54403D;
}

.styrene_butadiene_rubber .layer0 {
    background-color: #211A18;
}

.polyvinyl_acetate .layer0 {
    background-color: #FF9955;
}

.reinforced_epoxy_resin .layer0 {
    background-color: #A07A10;
}

.polyvinyl_chloride .layer0 {
    background-color: #D7E6E6;
}

.polyphenylene_sulfide .layer0 {
    background-color: #AA8800;
}

.polybenzimidazole .layer0 {
    background-color: #2D2D2D;
}

.polydimethylsiloxane .layer0 {
    background-color: #F5F5F5;
}

.polyethylene .layer0 {
    background-color: #C8C8C8;
}

.epoxy .layer0 {
    background-color: #C88C14;
}

.polycaprolactam .layer0 {
    background-color: #323232;
}

.polytetrafluoroethylene .layer0 {
    background-color: #646464;
}

.sugar .layer0 {
    background-color: #FAFAFA;
}

.methane .layer0 {
    background-color: #FF0078;
}

.epichlorohydrin .layer0 {
    background-color: #712400;
}

.monochloramine .layer0 {
    background-color: #3F9F80;
}

.chloroform .layer0 {
    background-color: #892CA0;
}

.cumene .layer0 {
    background-color: #552200;
}

.tetrafluoroethylene .layer0 {
    background-color: #7D7D7D;
}

.chloromethane .layer0 {
    background-color: #C82CA0;
}

.allyl_chloride .layer0 {
    background-color: #87DEAA;
}

.isoprene .layer0 {
    background-color: #141414;
}

.propane .layer0 {
    background-color: #FAE250;
}

.propene .layer0 {
    background-color: #FFDD55;
}

.ethane .layer0 {
    background-color: #C8C8FF;
}

.butene .layer0 {
    background-color: #CF5005;
}

.butane .layer0 {
    background-color: #B6371E;
}

.dissolved_calcium_acetate .layer0 {
    background-color: #DCC8B4;
}

.vinyl_acetate .layer0 {
    background-color: #E1B380;
}

.methyl_acetate .layer0 {
    background-color: #EEC6AF;
}

.ethenone .layer0 {
    background-color: #141446;
}

.tetranitromethane .layer0 {
    background-color: #0F2828;
}

.dimethylamine .layer0 {
    background-color: #554469;
}

.dimethylhydrazine .layer0 {
    background-color: #000055;
}

.dinitrogen_tetroxide .layer0 {
    background-color: #004184;
}

.dimethyldichlorosilane .layer0 {
    background-color: #441650;
}

.styrene .layer0 {
    background-color: #D2C8BE;
}

.butadiene .layer0 {
    background-color: #B55A10;
}

.dichlorobenzene .layer0 {
    background-color: #004455;
}

.acetic_acid .layer0 {
    background-color: #C8B4A0;
}

.phenol .layer0 {
    background-color: #784421;
}

.bisphenol_a .layer0 {
    background-color: #D4AA00;
}

.vinyl_chloride .layer0 {
    background-color: #E1F0F0;
}

.ethylene .layer0 {
    background-color: #E1E1E1;
}

.benzene .layer0 {
    background-color: #1A1A1A;
}

.acetone .layer0 {
    background-color: #AFAFAF;
}

.glycerol .layer0 {
    background-color: #87DE87;
}

.methanol .layer0 {
    background-color: #AA8800;
}

.ethanol .layer0 {
}

.toluene .layer0 {
}

.diphenyl_isophthalate .layer0 {
    background-color: #246E57;
}

.phthalic_acid .layer0 {
    background-color: #D1D1D1;
}

.dimethylbenzene .layer0 {
    background-color: #669C40;
}

.diaminobenzidine .layer0 {
    background-color: #337D59;
}

.dichlorobenzidine .layer0 {
    background-color: #A1DEA6;
}

.nitrochlorobenzene .layer0 {
    background-color: #8FB51A;
}

.chlorobenzene .layer0 {
    background-color: #326A3E;
}

.octane .layer0 {
    background-color: #8A0A09;
}

.ethyl_tertbutyl_ether .layer0 {
    background-color: #B15C06;
}

.ethylbenzene .layer0 {
}

.naphthalene .layer0 {
    background-color: #F4F4D7;
}

.rubber .layer0 {
    background-color: #000000;
}

.cyclohexane .layer0 {
    background-color: #F2F2F2E7;
}

.nitrosyl_chloride .layer0 {
    background-color: #F3F100;
}

.cyclohexanone_oxime .layer0 {
    background-color: #EBEBF0;
}

.caprolactam .layer0 {
    background-color: #676768;
}

.butyraldehyde .layer0 {
    background-color: #554A3F;
}

.polyvinyl_butyral .layer0 {
    background-color: #347D41;
}