.glass .layer0 {
    background-color: #FAFAFA;
}

.perlite .layer0 {
    background-color: #1E141E;
}

.borax .layer0 {
    background-color: #FAFAFA;
}

.salt_water .layer0 {
    background-color: #0000C8;
}

.olivine .layer0 {
    background-color: #96FF96;
}

.opal .layer0 {
    background-color: #0000FF;
}

.amethyst .layer0 {
    background-color: #8464BC;
}

.lapis .layer0 {
    background-color: #4646DC;
}

.blaze .layer0 {
    background-color: #FFC800;
}

.apatite .layer0 {
    background-color: #C8C8FF;
}

.black_steel .layer0 {
    background-color: #646464;
}

.damascus_steel .layer0 {
    background-color: #6E6E6E;
}

.tungsten_steel .layer0 {
    background-color: #6464A0;
}

.cobalt_brass .layer0 {
    background-color: #B4B4A0;
}

.tricalcium_phosphate .layer0 {
    background-color: #FFFF00;
}

.red_garnet .layer0 {
    background-color: #C85050;
}

.yellow_garnet .layer0 {
    background-color: #C8C850;
}

.marble .layer0 {
    background-color: #C8C8C8;
}

.deepslate .layer0 {
    background-color: #0A0A0A;
}

.granite_red .layer0 {
    background-color: #FF0080;
}

.vanadium_magnetite .layer0 {
    background-color: #23233C;
}

.quartz_sand .layer0 {
    background-color: #C8C8C8;
}

.pollucite .layer0 {
    background-color: #F0D2D2;
}

.bentonite .layer0 {
    background-color: #F5D7D2;
}

.fullers_earth .layer0 {
    background-color: #A0A078;
}

.pitchblende .layer0 {
    background-color: #C8D200;
}

.monazite .layer0 {
    background-color: #324632;
}

.mirabilite .layer0 {
    background-color: #F0FAD2;
}

.trona .layer0 {
    background-color: #87875F;
}

.gypsum .layer0 {
    background-color: #E6E6FA;
}

.zeolite .layer0 {
    background-color: #F0E6E6;
}

.concrete .layer0 {
    background-color: #646464;
}

.magnetic_steel .layer0 {
    background-color: #808080;
}

.vanadium_steel .layer0 {
    background-color: #c0c0c0;
}

.potin .layer0 {
    background-color: #c99781;
}

.borosilicate_glass .layer0 {
    background-color: #E6F3E6;
}

.andesite .layer0 {
    background-color: #BEBEBE;
}

.naquadah_alloy .layer0 {
    background-color: #282828;
}

.sulfuric_nickel_solution .layer0 {
    background-color: #3EB640;
}

.sulfuric_copper_solution .layer0 {
    background-color: #48A5C0;
}

.lead_zinc_solution .layer0 {
}

.nitration_mixture .layer0 {
    background-color: #E6E2AB;
}

.diluted_sulfuric_acid .layer0 {
    background-color: #C07820;
}

.diluted_hydrochloric_acid .layer0 {
    background-color: #99A7A3;
}

.flint .layer0 {
    background-color: #002040;
}

.air .layer0 {
    background-color: #A9D0F5;
}

.liquid_air .layer0 {
    background-color: #A9D0F5;
}

.nether_air .layer0 {
    background-color: #4C3434;
}

.liquid_nether_air .layer0 {
    background-color: #4C3434;
}

.ender_air .layer0 {
    background-color: #283454;
}

.liquid_ender_air .layer0 {
    background-color: #283454;
}

.aqua_regia .layer0 {
    background-color: #FFB132;
}

.platinum_sludge_residue .layer0 {
    background-color: #827951;
}

.palladium_raw .layer0 {
}

.rarest_metal_mixture .layer0 {
    background-color: #832E11;
}

.ammonium_chloride .layer0 {
    background-color: #9711A6;
}

.acidic_osmium_solution .layer0 {
    background-color: #DAC5C5;
}

.rhodium_plated_palladium .layer0 {
    background-color: #000000;
}

.clay .layer0 {
    background-color: #C8C8DC;
}

.redstone .layer0 {
    background-color: #C80000;
}