.wood_gas .layer0 {
    background-color: #DECD87;
}

.wood_vinegar .layer0 {
    background-color: #D45500;
}

.wood_tar .layer0 {
    background-color: #28170B;
}

.charcoal_byproducts .layer0 {
    background-color: #784421;
}

.biomass .layer0 {
    background-color: #00FF00;
}

.bio_diesel .layer0 {
    background-color: #FF8000;
}

.fermented_biomass .layer0 {
    background-color: #445500;
}

.creosote .layer0 {
    background-color: #804000;
}

.diesel .layer0 {
}

.rocket_fuel .layer0 {
}

.glue .layer0 {
}

.lubricant .layer0 {
}

.mc_guffium_239 .layer0 {
}

.indium_concentrate .layer0 {
    background-color: #0E2950;
}

.seed_oil .layer0 {
    background-color: #FFFFFF;
}

.drilling_fluid .layer0 {
    background-color: #FFFFAA;
}

.construction_foam .layer0 {
    background-color: #808080;
}

.sulfuric_heavy_fuel .layer0 {
}

.heavy_fuel .layer0 {
}

.lightly_hydro_cracked_heavy_fuel .layer0 {
    background-color: #FFFF00;
}

.severely_hydro_cracked_heavy_fuel .layer0 {
    background-color: #FFFF00;
}

.lightly_steam_cracked_heavy_fuel .layer0 {
}

.severely_steam_cracked_heavy_fuel .layer0 {
}

.sulfuric_light_fuel .layer0 {
}

.light_fuel .layer0 {
}

.lightly_hydro_cracked_light_fuel .layer0 {
    background-color: #B7AF08;
}

.severely_hydro_cracked_light_fuel .layer0 {
    background-color: #B7AF08;
}

.lightly_steam_cracked_light_fuel .layer0 {
}

.severely_steam_cracked_light_fuel .layer0 {
}

.sulfuric_naphtha .layer0 {
}

.naphtha .layer0 {
}

.lightly_hydro_cracked_naphtha .layer0 {
    background-color: #BFB608;
}

.severely_hydro_cracked_naphtha .layer0 {
    background-color: #BFB608;
}

.lightly_steam_cracked_naphtha .layer0 {
    background-color: #BFB608;
}

.severely_steam_cracked_naphtha .layer0 {
    background-color: #BFB608;
}

.sulfuric_gas .layer0 {
}

.refinery_gas .layer0 {
}

.lightly_hydro_cracked_gas .layer0 {
    background-color: #B4B4B4;
}

.severely_hydro_cracked_gas .layer0 {
    background-color: #B4B4B4;
}

.lightly_steam_cracked_gas .layer0 {
    background-color: #B4B4B4;
}

.severely_steam_cracked_gas .layer0 {
    background-color: #B4B4B4;
}

.hydro_cracked_ethane .layer0 {
    background-color: #9696BC;
}

.hydro_cracked_ethylene .layer0 {
    background-color: #A3A3A0;
}

.hydro_cracked_propene .layer0 {
    background-color: #BEA540;
}

.hydro_cracked_propane .layer0 {
    background-color: #BEA540;
}

.hydro_cracked_butane .layer0 {
    background-color: #852C18;
}

.hydro_cracked_butene .layer0 {
    background-color: #993E05;
}

.hydro_cracked_butadiene .layer0 {
    background-color: #AD5203;
}

.steam_cracked_ethane .layer0 {
    background-color: #9696BC;
}

.steam_cracked_ethylene .layer0 {
    background-color: #A3A3A0;
}

.steam_cracked_propene .layer0 {
    background-color: #BEA540;
}

.steam_cracked_propane .layer0 {
    background-color: #BEA540;
}

.steam_cracked_butane .layer0 {
    background-color: #852C18;
}

.steam_cracked_butene .layer0 {
    background-color: #993E05;
}

.steam_cracked_butadiene .layer0 {
    background-color: #AD5203;
}

.lpg .layer0 {
}

.raw_growth_medium .layer0 {
    background-color: #A47351;
}

.sterilized_growth_medium .layer0 {
    background-color: #AC876E;
}

.oil .layer0 {
    background-color: #0A0A0A;
}

.oil_heavy .layer0 {
    background-color: #0A0A0A;
}

.oil_medium .layer0 {
    background-color: #0A0A0A;
}

.oil_light .layer0 {
    background-color: #0A0A0A;
}

.natural_gas .layer0 {
}

.bacteria .layer0 {
    background-color: #808000;
}

.bacterial_sludge .layer0 {
    background-color: #355E3B;
}

.enriched_bacterial_sludge .layer0 {
    background-color: #7FFF00;
}

.mutagen .layer0 {
    background-color: #00FF7F;
}

.gelatin_mixture .layer0 {
    background-color: #588BAE;
}

.raw_gasoline .layer0 {
    background-color: #FF6400;
}

.gasoline .layer0 {
    background-color: #FAA500;
}

.high_octane_gasoline .layer0 {
    background-color: #FFA500;
}

.coal_gas .layer0 {
    background-color: #333333;
}

.coal_tar .layer0 {
    background-color: #1A1A1A;
}

.gunpowder .layer0 {
    background-color: #808080;
}

.oilsands .layer0 {
    background-color: #0A0A0A;
}

.rare_earth .layer0 {
    background-color: #808064;
}

.stone .layer0 {
    background-color: #CDCDCD;
}

.lava .layer0 {
    background-color: #FF4000;
}

.glowstone .layer0 {
    background-color: #FFFF00;
}

.nether_star .layer0 {
}

.endstone .layer0 {
    background-color: #D9DE9E;
}

.netherrack .layer0 {
    background-color: #C80000;
}

.cetane_boosted_diesel .layer0 {
    background-color: #C8FF00;
}

.collagen .layer0 {
    background-color: #80471C;
}

.gelatin .layer0 {
    background-color: #588BAE;
}

.agar .layer0 {
    background-color: #4F7942;
}

.milk .layer0 {
    background-color: #FEFEFE;
}

.cocoa .layer0 {
    background-color: #643200;
}

.wheat .layer0 {
    background-color: #FFFFC4;
}

.meat .layer0 {
    background-color: #C14C4C;
}

.wood .layer0 {
    background-color: #643200;
}

.paper .layer0 {
    background-color: #FAFAFA;
}

.fish_oil .layer0 {
    background-color: #DCC15D;
}

.ruby_slurry .layer0 {
    background-color: #ff6464;
}

.sapphire_slurry .layer0 {
    background-color: #6464c8;
}

.green_sapphire_slurry .layer0 {
    background-color: #64c882;
}

.black_dye .layer0 {
    background-color: #202020;
}

.red_dye .layer0 {
    background-color: #FF0000;
}

.green_dye .layer0 {
    background-color: #00FF00;
}

.brown_dye .layer0 {
    background-color: #604000;
}

.blue_dye .layer0 {
    background-color: #0020FF;
}

.purple_dye .layer0 {
    background-color: #800080;
}

.cyan_dye .layer0 {
    background-color: #00FFFF;
}

.light_gray_dye .layer0 {
    background-color: #C0C0C0;
}

.gray_dye .layer0 {
    background-color: #808080;
}

.pink_dye .layer0 {
    background-color: #FFC0C0;
}

.lime_dye .layer0 {
    background-color: #80FF80;
}

.yellow_dye .layer0 {
    background-color: #FFFF00;
}

.light_blue_dye .layer0 {
    background-color: #6080FF;
}

.magenta_dye .layer0 {
    background-color: #FF00FF;
}

.orange_dye .layer0 {
    background-color: #FF8000;
}

.white_dye .layer0 {
    background-color: #FFFFFF;
}

.impure_enriched_naquadah_solution .layer0 {
    background-color: #388438;
}

.enriched_naquadah_solution .layer0 {
    background-color: #3AAD3A;
}

.acidic_enriched_naquadah_solution .layer0 {
    background-color: #3DD63D;
}

.enriched_naquadah_waste .layer0 {
    background-color: #355B35;
}

.impure_naquadria_solution .layer0 {
    background-color: #518451;
}

.naquadria_solution .layer0 {
    background-color: #61AD61;
}

.acidic_naquadria_solution .layer0 {
    background-color: #70D670;
}

.naquadria_waste .layer0 {
    background-color: #425B42;
}

.lapotron .layer0 {
    background-color: #2C39B1;
}

.treated_wood .layer0 {
    background-color: #502800;
}

.uu_matter .layer0 {
}